{% extends 'core/base.html' %}

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}Customer List{% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Customer List</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onClick="javascript:history.go(-1);">
                <span class="card-btn-title"><i class="fa-solid fa-angles-left"></i></span>
                <span class="card-btn-desc">Go back to the document list</span>
            </button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">Списък на клиентите</h2>

                {% if all_objects %}
                <div class="table-data-container">
                    <table class="table-data">
                    <thead>
                        <tr>
                            <th>Тип</th>
                            <th>Име</th>
                            <th>Адрес по регистрация</th>
                            <th>Населено място</th>
                            <th>ЕИК</th>
                            <th>МОЛ</th>
                            <th>Адрес за кореспонденц</th>
                            <th>Лице за контакт</th>
                            <th>Телефон</th>
                            <th>Имейл</th>
                            <th>Покажи</th>
                            <th>Редактирай</th>
                            <th>Изтрий</th>
                        </tr>
                    </thead>

                    <tbody>
                            {% for customer in all_objects %}
                        <tr>
                            <td>{{ customer.type }}</td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.registration_address }}</td>
                            <td>{{ customer.registration_city }}</td>
                            <td>{{ customer.eik }}</td>
                            <td>{{ customer.mol1 }}</td>
                            <td>{{ customer.correspondence_address1 }}</td>
                            <td>{{ customer.contact_person1 }}</td>
                            <td>{{ customer.phone1 }}</td>
                            <td>{{ customer.email1 }}</td>

                            <td><a class="table-link" href="{% url 'show customer' pk=customer.pk slug=customer.slug %}">
                                <i class="fa-solid fa-magnifying-glass"></i>Покажи</a></td>
                            <td><a class="table-link" href="{% url 'edit customer' pk=customer.pk slug=customer.slug %}"><i class="fa-solid fa-pen-to-square"></i>Редактирай</a></td>
                            <td><a class="table-link" href="{% url 'delete customer' pk=customer.pk slug=customer.slug %}"><i class="fa-solid fa-trash"></i>Изтрий</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
                {% else %}
                    <br><br>
                    <p style="text-align: center">Няма налични клиенти!</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}
