{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}Add a Record{% endblock %}
{#-------------------------------------------------------------------------#}

{##---#}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/custom_form.css' %}">
{% endblock %}
{##---#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Add a Record</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onClick="javascript:history.go(-1);">
                <span class="card-btn-title"><i class="fa-solid fa-angles-left"></i></span>
                <span class="card-btn-desc">Go back to the document list</span>
            </button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>
        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">{% trans "Form Name: Template 1" %}</h2>
                <form action="{% url 'add stat model1' %}" method="post">

                    {% include 'custom_forms/custom_stat_model1_form.html' %}

                    {% csrf_token %}
                    <button class="form-button">{% trans "add this record" %}</button>
                </form>

            </div>
        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}
