{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}Edit Analysis{% endblock %}
{#-------------------------------------------------------------------------#}

{##---#}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/custom_form.css' %}">
{% endblock %}
{##---#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Edit Analysis</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onClick="javascript:history.go(-1);">
                <span class="card-btn-title"><i class="fa-solid fa-angles-left"></i></span>
                <span class="card-btn-desc">Go back to the document list</span>
            </button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">{% trans "Change an Analysis" %}</h2>
                <form action="{% url 'edit analysis' pk=current_object.pk slug=current_object.slug %}" method="post">

                    {% include 'custom_forms/custom_analysis_form.html' %}

                    {% csrf_token %}
                    <button class="form-button">{% trans "Save" %}</button>
                </form>
            </div>

        </div>
    </section>

    <script type="text/javascript" src="{% static 'css/calculations_on_loose_focus.js' %}"></script>
{% endblock %}
{#-------------------------------------------------------------------------#}
