{% load i18n %}
<div class="div-custom-form">

    {# Part 0 #}
    <table class="table-form">
        <thead>
        <tr>
            <th class="th-new" colspan="6">{% trans "General Information" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="when-1">{{ form.name.label_tag }}</th>
            <td class="when-1 showing">{{ current_object.name }}</td>
        </tr>
        </tbody>
    </table>

    {# Part 1 #}
    <table class="table-form">
        <thead>
        </thead>
        <tbody>
        <tr>
            <th class="when-2">{{ form.code.label_tag }}</th>
            <td class="when-2 showing">{{ current_object.code }}</td>
            <th class="when-2">{{ form.measurement_unit.label_tag }}</th>
            <td class="when-2 showing">{{ current_object.measurement_unit }}</td>
        </tr>
        </tbody>
    </table>

    {# Part 2 #}
    <table class="table-form">
        <thead>
        <tr>
            <th class="th-new" colspan="6">{% trans "Materials" %}</th>
        </tr>
        <tr>
            <th></th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Measurement Unit" %}</th>
            <th>{% trans "Cost Rate" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Total" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="when-1">{% trans "Material 1" %}</th>
            <td class="when-1 showing">{{ current_object.material1 }}</td>
            <td class="when-1 showing">{{ current_object.material1_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.material1_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.material1_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.material1_total %}
                    {{ current_object.material1_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Material 2" %}</th>
            <td class="when-1 showing">{{ current_object.material2 }}</td>
            <td class="when-1 showing">{{ current_object.material2_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.material2_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.material2_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.material2_total %}
                    {{ current_object.material2_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Material 3" %}</th>
            <td class="when-1 showing">{{ current_object.material3 }}</td>
            <td class="when-1 showing">{{ current_object.material3_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.material3_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.material3_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.material3_total %}
                    {{ current_object.material3_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Material 4" %}</th>
            <td class="when-1 showing">{{ current_object.material4 }}</td>
            <td class="when-1 showing">{{ current_object.material4_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.material4_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.material4_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.material4_total %}
                    {{ current_object.material4_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Material 5" %}</th>
            <td class="when-1 showing">{{ current_object.material5 }}</td>
            <td class="when-1 showing">{{ current_object.material5_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.material5_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.material5_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.material5_total %}
                    {{ current_object.material5_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-3">{% trans "Materials Total" %}</th>
            <td class="when-3"></td>
            <td class="when-3"></td>
            <td class="when-3"></td>
            <td class="when-3"></td>
            <td class="when-3 td-centered">
                {% if current_object.total_materials_cost %}
                    {{ current_object.total_materials_cost }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {# Part 3 #}
    <table class="table-form">
        <thead>
        <tr>
            <th class="th-new" colspan="6">{% trans "Mechanization" %}</th>
        </tr>
        <tr>
            <th></th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Measurement Unit" %}</th>
            <th>{% trans "Cost Rate" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Total" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="when-1">{% trans "Machine 1" %}</th>
            <td class="when-1 showing">{{ current_object.machine1 }}</td>
            <td class="when-1 showing">{{ current_object.machine1_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.machine1_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.machine1_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.machine1_total %}
                    {{ current_object.machine1_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Machine 2" %}</th>
            <td class="when-1 showing">{{ current_object.machine2 }}</td>
            <td class="when-1 showing">{{ current_object.machine2_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.machine2_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.machine2_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.machine2_total %}
                    {{ current_object.machine2_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Machine 3" %}</th>
            <td class="when-1 showing">{{ current_object.machine3 }}</td>
            <td class="when-1 showing">{{ current_object.machine3_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.machine3_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.machine3_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.machine3_total %}
                    {{ current_object.machine3_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Machine 4" %}</th>
            <td class="when-1 showing">{{ current_object.machine4 }}</td>
            <td class="when-1 showing">{{ current_object.machine4_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.machine4_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.machine4_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.machine4_total %}
                    {{ current_object.machine4_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Machine 5" %}</th>
            <td class="when-1 showing">{{ current_object.machine5 }}</td>
            <td class="when-1 showing">{{ current_object.machine5_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.machine5_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.machine5_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.machine5_total %}
                    {{ current_object.machine5_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-3">{% trans "Mechanization Total" %}</th>
            <td class="when-3"></td>
            <td class="when-3"></td>
            <td class="when-3"></td>
            <td class="when-3"></td>
            <td class="when-3 td-centered">
                {% if current_object.total_machines_cost %}
                    {{ current_object.total_machines_cost }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {# Part 4 #}
    <table class="table-form">
        <thead>
        <tr>
            <th class="th-new" colspan="6">{% trans "Labor" %}</th>
        </tr>
        <tr>
            <th></th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Measurement Unit" %}</th>
            <th>{% trans "Cost Rate" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Total" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="when-1">{% trans "Position 1" %}</th>
            <td class="when-1 showing">{{ current_object.position1 }}</td>
            <td class="when-1 showing">{{ current_object.position1_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.position1_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.position1_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.position1_total %}
                    {{ current_object.position1_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Position 2" %}</th>
            <td class="when-1 showing">{{ current_object.position2 }}</td>
            <td class="when-1 showing">{{ current_object.position2_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.position2_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.position2_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.position2_total %}
                    {{ current_object.position2_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Position 3" %}</th>
            <td class="when-1 showing">{{ current_object.position3 }}</td>
            <td class="when-1 showing">{{ current_object.position3_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.position3_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.position3_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.position3_total %}
                    {{ current_object.position3_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Position 4" %}</th>
            <td class="when-1 showing">{{ current_object.position4 }}</td>
            <td class="when-1 showing">{{ current_object.position4_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.position4_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.position4_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.position4_total %}
                    {{ current_object.position4_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Position 5" %}</th>
            <td class="when-1 showing">{{ current_object.position5 }}</td>
            <td class="when-1 showing">{{ current_object.position5_measurement_unit }}</td>
            <td class="when-1 showing">{{ current_object.position5_cost_rate }}</td>
            <td class="when-1 showing">{{ current_object.position5_price }}</td>
            <td class="when-1 td-centered showing">
                {% if current_object.position5_total %}
                    {{ current_object.position5_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-3">{% trans "Labor Total" %}</th>
            <td class="when-3"></td>
            <td class="when-3"></td>
            <td class="when-3"></td>
            <td class="when-3"></td>
            <td class="when-3 td-centered">
                {% if current_object.total_positions_cost %}
                    {{ current_object.total_positions_cost }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {# Part 5 #}
    <table class="table-form">
        <thead>
        <tr>
            <th class="th-new" colspan="6">{% trans "Additional Expenses" %}</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>{% trans "Cost Rate" %}</th>
            <th></th>
            <th>{% trans "Total" %}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="when-1">{% trans "Additional materials, %" %}</th>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1 showing">{{ current_object.additional_expense_materials_cost_rate }}</td>
            <td class="when-1"></td>
            <td class="when-1 td-centered">
                {% if current_object.additional_expense_materials_total %}
                    {{ current_object.additional_expense_materials_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Additional mechanization, %" %}</th>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1 showing">{{ current_object.additional_expense_positions_cost_rate }}</td>
            <td class="when-1"></td>
            <td class="when-1 td-centered">
                {% if current_object.additional_expense_positions_total %}
                    {{ current_object.additional_expense_positions_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <th class="when-1">{% trans "Additional labor, %" %}</th>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1 showing">{{ current_object.additional_expense_machines_cost_rate }}</td>
            <td class="when-1"></td>
            <td class="when-1 td-centered">
                {% if current_object.additional_expense_machines_total %}
                    {{ current_object.additional_expense_machines_total }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {# Part 6 #}
    <table class="table-form">
        <thead>
        </thead>
        <tbody>
        <tr>
            <th class="when-1">{% trans "Total Direct Costs" %}</th>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1 td-centered">
                {% if current_object.total_direct_costs %}
                    {{ current_object.total_direct_costs }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        
        <tr>
            <th class="when-1">{% trans "Total Additional Costs" %}</th>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1 td-centered">
                {% if current_object.total_additional_costs %}
                    {{ current_object.total_additional_costs }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        
        <tr>
            <th class="when-1">{% trans "Total Costs" %}</th>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1 td-centered">
                {% if current_object.total_costs %}
                    {{ current_object.total_costs }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        
        <tr>
            <th class="when-1">{% trans "Profit, %" %}</th>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1 td-centered">{{ current_object.profit }}</td>
        </tr>
        
        <tr>
            <th class="when-1">{% trans "Final Price" %}</th>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1"></td>
            <td class="when-1 td-centered">
                {% if current_object.final_price %}
                    {{ current_object.final_price }}
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
</div>
