{% load static %}

{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}My ERP{% endblock %}
{#-------------------------------------------------------------------------#}

    </title>

{#Styles-------------------------------------------------------------------#}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{#Additional css--------------------------------------------------------- #}
    {% block extra_css %}{% endblock %}

{#Additional js---------------------------------------------------------- #}
    {% block extra_js %}{% endblock %}

{#JS Functions-------------------------------------------------------------#}
    <script type="text/javascript" src="{% static 'css/custom_functions.js' %}"></script>
</head>

<body>
    <header class="header">

{#2. Nav-------------------------------------------------------------------#}
    {% block nav %}
        <nav class="navigation">
            <ul class="nav-list" role="list">
                <li class="nav-item">
                    <i class="fas fa-home"></i>
{#                    <a href="{% url 'index' %}">Main Menu</a>#}
                    <a href="{% url 'index' %}">{% trans "Main Page" %}</a>
{#                    <a href="{% url 'org mng index' %}">Начало</a>#}
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-ranking-star"></i>
                    <a href="{% url 'organigramm' %}">{% trans "Org chart" %}</a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-database"></i>
                    <a href="{% url 'manage db' %}">{% trans "Manage DB" %}</a>
                </li>
                <li class="nav-item">
                    <i class="fa-sharp fa-solid fa-chart-simple"></i>
                    <a href="{% url 'logs' %}">{% trans "Logs" %}</a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-file-arrow-up"></i>
                    <a href="{% url 'my tasks' %}">{% trans "Approval" %}</a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-heart"></i>
                    <a href="{% url 'favorites' %}">{% trans "Favorites" %}</a>
                </li>
            </ul>

            <div class="lang">
                <form class="lang-form" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local | capfirst }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
{#                    <input type="submit" value="Go" />#}
                    <button class="lang-button">
                        <i class="fa-solid fa-arrows-rotate"></i>
                    </button>
                </form>
            </div>

            <div class="user-container">
                {% if request.user.is_authenticated %}

                    <h2 class="log-out">
                        <a class="user-name-a"
                           href="{% url 'logout' %}">{% trans "log out" %}</a>
                    </h2>
                    <hr class="vertical">
                    <h2 class="user-name">
                        <a class="user-name-a"
                           href="{% url 'user details' pk=request.user.pk %}">
                            {% trans "Welcome" %}, {{ request.user.username }}
                        </a>
                    </h2>
                    <div class="user-letter-container">
                        <h2 class="user-letter">
{#                            {{ request.user.username|first|upper }}#}
                            {{ request.user.get_first_letter }}
                        </h2>
                    </div>

                {% else %}
                    <h2 class="log-out">
                        <a class="user-name-a"
                           href="{% url 'login' %}">{% trans "log in" %}</a>
                    </h2>
                    <hr class="vertical">
                    <h2 class="user-name">
                        <a class="user-name-a"
                           href="#">
                            {% trans "guest" %}
                        </a>
                    </h2>
                    <div class="user-letter-container">
                        <h2 class="user-letter">
                            -
                        </h2>
                    </div>
                {% endif %}
            </div>
        </nav>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Base Page to be used as a template</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

</header>
<main>
<div class="total-container">

    <!-- Return-to-top button -->
    <a id="return-to-top" href="#" title="Return to top"><i class="fa fa-chevron-up"></i></a>

{#3.5. Menu----------------------------------------------------------------#}
<div class="menu-container">
    <ul class="menu-list" role="list">
        <button class="menu-item" onclick="location.href='{% url 'org mng index' %}';">
            <i class="fa-solid fa-landmark-flag"></i>
            <span class="menu-item-title">{% trans "Organization" %}</span>
        </button>
        <button class="menu-item card-btn-hidden" onclick="location.href='{% url 'hr mng index' %}';">
            <i class="fa-solid fa-people-group"></i>
            <span class="menu-item-title">{% trans "Personnel and Trainings" %}</span>
        </button>
        <button class="menu-item card-btn-hidden" onclick="location.href='{% url 'dox mng index' %}';">
            <i class="fa-regular fa-folder-open"></i>
            <span class="menu-item-title">{% trans "Documented Information" %}</span>
        </button>
        <button class="menu-item" onclick="location.href='{% url 'supplier mng index' %}';">
            <i class="fa-solid fa-truck-field"></i>
            <span class="menu-item-title">{% trans "Suppliers" %}</span>
        </button>

        <hr class="horizontal">

        <button class="menu-item card-btn-hidden" onclick="location.href='{% url 'process mng index' %}';">
            <i class="fa-solid fa-chalkboard-user"></i>
            <span class="menu-item-title">{% trans "Business Processes" %}</span>
        </button>

        <button id="control-button" onclick="fShowHideProcessMenu()"><i class="fa-solid fa-caret-down"></i></button>

        <div class="dynamic-buttons" id="dynamic-buttons" style="display: none">
            <button class="menu-item menu-item-minor card-btn-hidden" onclick="location.href='{% url 'interaction mng index' %}';">
                <i class="fa-solid fa-arrows-split-up-and-left"></i>
                <span class="menu-item-title">{% trans "Interactions" %}</span>
            </button>
            <button class="menu-item menu-item-minor card-btn-hidden" onclick="location.href='{% url 'resource mng index' %}';">
                <i class="fa-solid fa-cubes"></i>
                <span class="menu-item-title">{% trans "Resources" %}</span>
            </button>
            <button class="menu-item menu-item-minor card-btn-hidden" onclick="location.href='{% url 'risk mng index' %}';">
                <i class="fa-solid fa-strikethrough"></i>
                <span class="menu-item-title">{% trans "Risks" %}</span>
            </button>
            <button class="menu-item menu-item-minor card-btn-hidden" onclick="location.href='{% url 'opportunity mng index' %}';">
                <i class="fa-solid fa-arrow-trend-up"></i>
                <span class="menu-item-title">{% trans "Improvements" %}</span>
            </button>
            <button class="menu-item menu-item-minor card-btn-hidden" onclick="location.href='{% url 'kpi mng index' %}';">
                <i class="fa-solid fa-superscript"></i>
                <span class="menu-item-title">{% trans "KPIs" %}</span>
            </button>
            <button class="menu-item menu-item-minor card-btn-hidden" onclick="location.href='{% url 'generate system checklist' %}';">
                <i class="fa-solid fa-check-double"></i>
                <span class="menu-item-title">{% trans "Audit Cheklist" %}</span>
            </button>
        </div>

        <hr class="horizontal" id="second-hr" style="margin-top: 4px">

        <button class="menu-item card-btn-hidden" onclick="location.href='{% url 'operations mng index' %}';">
            <i class="fa-solid fa-gears"></i>
            <span class="menu-item-title">{% trans "Operational Processes" %}</span>
        </button>

        <button id="control-button2" onclick="fShowHideOperationsMenu()"><i class="fa-solid fa-caret-down"></i></button>

        <div class="dynamic-buttons2" id="dynamic-buttons2" style="display: none">
            <button class="menu-item menu-item-minor card-btn-hidden" onclick="location.href='{% url 'maintenance mng index' %}';">
                <i class="fa-solid fa-school"></i>
                <span class="menu-item-title">{% trans "Maintenance" %}</span>
            </button>
            <button class="menu-item menu-item-minor card-btn-hidden" onclick="location.href='{% url 'calibration mng index' %}';">
                <i class="fa-solid fa-ruler-combined"></i>
                <span class="menu-item-title">{% trans "Calibration" %}</span>
            </button>
        </div>

        <hr class="horizontal" id="second-hr2" style="margin-top: 4px">

        <button class="menu-item" onclick="location.href='{% url 'customer mng index' %}';">
            <i class="fa-solid fa-business-time"></i>
            <span class="menu-item-title">{% trans "Customers" %}</span>
        </button>

        <button class="menu-item" onclick="location.href='{% url 'requirements matrix' %}';">
            <i class="fa-solid fa-code-pull-request"></i>
            <span class="menu-item-title">{% trans "Requirements Matrix" %}</span>
        </button>

        <button class="menu-item" onclick="location.href='{% url 'nonconformity mng index' %}';">
            <i class="fa-solid fa-fire"></i>
            <span class="menu-item-title">{% trans "Nonconformities" %}</span>
        </button>

        <button class="menu-item" onclick="location.href='{% url 'newactions mng index' %}';">
            <i class="fa-solid fa-person-walking"></i>
            <span class="menu-item-title">{% trans "Actions" %}</span>
        </button>

        <button class="menu-item" onclick="location.href='{% url 'action plan mng index' %}';">
            <i class="fa-solid fa-sheet-plastic"></i>
            <span class="menu-item-title">{% trans "Action Plans" %}</span>
        </button>

{# ---#}
{#        <button class="menu-item" onclick="location.href='{% url 'supplier mng index' %}';">#}
{#            <i class="fa-solid fa-truck-field"></i>#}
{#            <span class="menu-item-title">{% trans "Suppliers - test" %}</span>#}
{#        </button>#}
{#        <button class="menu-item" onclick="location.href='{% url 'api index' %}';">#}
{#            <i class="fa-solid fa-rocket"></i>#}
{#            <span class="menu-item-title">{% trans "API" %}</span>#}
{#        </button>#}
{# ---#}
{#        <hr class="horizontal">#}
{##}
{#        <button class="menu-item" onclick="location.href='{% url 'tools index' %}';">#}
{#            <i class="fa-solid fa-robot"></i>#}
{#            <span class="menu-item-title">{% trans "AI Tools" %}</span>#}
{#        </button>#}

    </ul>
</div>
{#-------------------------------------------------------------------------#}

<div class="all-sections-container">
{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onclick="location.href='{% url 'process mng index' %}';">
                <span class="card-btn-title">Process Management</span>
                <span class="card-btn-desc">Add, change or remove processes and process steps</span>
            </button>

            <button class="card-btn" onclick="location.href='{% url 'dox mng index' %}';">
                <span class="card-btn-title">Documents and Records</span>
                <span class="card-btn-desc">Add, change or remove documented information</span>
            </button>

            <button class="card-btn" onclick="location.href='{% url 'hr mng index' %}';">
                <span class="card-btn-title">Human Resources</span>
                <span class="card-btn-desc">Manage personnel, training, health and safety, etc.</span>
            </button>

            <button class="card-btn" onclick="fShowHideSearchForm()">
                <span class="card-btn-title">Search</span>
                <span class="card-btn-desc">Show / Hide Form</span>
            </button>

{#            <button class="card-btn" onclick="location.href='{% url 'org mng index' %}';">#}
{#                <span class="card-btn-title">Org Mng</span>#}
{#                <span class="card-btn-desc">Open</span>#}
{#            </button>#}

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">Some Title</h2>
                <p class="card-display-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Animi architecto aspernatur consequatur dolorem eos, eveniet
                    explicabo iste maiores, neque provident ratione repudiandae
                    saepe sunt tempore vel voluptate voluptatibus! Ipsam, laboriosam!
                </p>
            </div>

        </div>
    </section>

{% endblock %}
{#-------------------------------------------------------------------------#}
</div>
</div>
</main>

<footer class="footer">
    <h3 class="footer-title">&copy; 2023 DZ</h3>
</footer>

{# for the return-to-top button #}
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- JavaScript for the return-to-top button -->
    <script>
        $(document).ready(function() {
            // Show the button when the user scrolls down 20px from the top
            $(window).scroll(function() {
                if ($(this).scrollTop() >= 20) {
                    $('#return-to-top').fadeIn();
                } else {
                    $('#return-to-top').fadeOut();
                }
            });

            // Smooth scroll to the top when the button is clicked
            $('#return-to-top').click(function(event) {
                event.preventDefault();
                $('html, body').animate({scrollTop: 0}, 'fast');
            });
        });
    </script>
</body>
</html>
