{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}My ERP{% endblock %}
{#-------------------------------------------------------------------------#}

    </title>

{#Styles-------------------------------------------------------------------#}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{#JS Functions-------------------------------------------------------------#}
    <script type="text/javascript" src="{% static 'css/custom_functions.js' %}"></script>
</head>

<body>
    <header class="header">

{#2. Nav-------------------------------------------------------------------#}
    {% block nav %}
        <nav class="navigation">
            <ul class="nav-list" role="list">
                <li class="nav-item">
                    <i class="fas fa-home"></i>
{#                    <a href="{% url 'index' %}">Main Menu</a>#}
                    <a href="{% url 'index' %}">Начало</a>
{#                    <a href="{% url 'org mng index' %}">Начало</a>#}
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-ranking-star"></i>
                    <a href="{% url 'organigramm' %}">Org. chart</a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-database"></i>
                    <a href="{% url 'manage db' %}">Manage DB</a>
                </li>
                <li class="nav-item">
                    <i class="fa-sharp fa-solid fa-chart-simple"></i>
                    <a href="{% url 'logs' %}">Logs</a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-thumbtack"></i>
                    <a href="{% url 'my tasks' %}">My Tasks</a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-heart"></i>
                    <a href="{% url 'favorites' %}">Favorites</a>
                </li>
            </ul>

            <div class="user-container">
                {% if request.user.is_authenticated %}

                    <h2 class="log-out">
                        <a class="user-name-a"
                           href="{% url 'logout' %}">log out</a>
                    </h2>
                    <hr class="vertical">
                    <h2 class="user-name">
                        <a class="user-name-a"
                           href="{% url 'user details' pk=request.user.pk %}">
                            Welcome, {{ request.user.username }}
                        </a>
                    </h2>
                    <div class="user-letter-container">
                        <h2 class="user-letter">
{#                            {{ request.user.username|first|upper }}#}
                            {{ request.user.get_first_letter }}
                        </h2>
                    </div>

                {% else %}
                    <h2 class="log-out">
                        <a class="user-name-a"
                           href="{% url 'login' %}">log in</a>
                    </h2>
                    <hr class="vertical">
                    <h2 class="user-name">
                        <a class="user-name-a"
                           href="#">
                            guest
                        </a>
                    </h2>
                    <div class="user-letter-container">
                        <h2 class="user-letter">
                            -
                        </h2>
                    </div>
                {% endif %}
            </div>
        </nav>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Base Page to be used as a template</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

</header>
<main>
<div class="total-container">

    <!-- Return-to-top button -->
    <a id="return-to-top" href="#" title="Return to top"><i class="fa fa-chevron-up"></i></a>

{#3.5. Menu----------------------------------------------------------------#}
<div class="menu-container">
    <ul class="menu-list" role="list">
        <button class="menu-item" onclick="location.href='{% url 'org mng index' %}';">
            <i class="fa-solid fa-landmark-flag"></i>
            <span class="menu-item-title">Организация</span>
        </button>
        <button class="menu-item" onclick="location.href='{% url 'customer mng index' %}';">
            <i class="fa-solid fa-business-time"></i>
            <span class="menu-item-title">Клиенти</span>
        </button>

        <hr class="horizontal">

        <button class="menu-item card-btn-hidden" onclick="location.href='{% url 'process mng index' %}';">
            <i class="fa-solid fa-chalkboard-user"></i>
            <span class="menu-item-title">Процеси</span>
        </button>
        <button class="menu-item card-btn-hidden" onclick="location.href='{% url 'dox mng index' %}';">
            <i class="fa-regular fa-folder-open"></i>
            <span class="menu-item-title">Документи</span>
        </button>
        <button class="menu-item card-btn-hidden" onclick="location.href='{% url 'hr mng index' %}';">
            <i class="fa-solid fa-people-group"></i>
            <span class="menu-item-title">Персонал</span>
        </button>

{# --- #}
        <button class="menu-item" onclick="location.href='{% url 'supplier mng index' %}';">
            <i class="fa-solid fa-truck-field"></i>
            <span class="menu-item-title">Доставчици - тест</span>
        </button>
        <button class="menu-item" onclick="location.href='{% url 'api index' %}';">
            <i class="fa-solid fa-rocket"></i>
            <span class="menu-item-title">API</span>
        </button>
    </ul>
</div>
{#-------------------------------------------------------------------------#}

<div class="all-sections-container">
{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onclick="location.href='{% url 'process mng index' %}';">
                <span class="card-btn-title">Process Management</span>
                <span class="card-btn-desc">Add, change or remove processes and process steps</span>
            </button>

            <button class="card-btn" onclick="location.href='{% url 'dox mng index' %}';">
                <span class="card-btn-title">Documents and Records</span>
                <span class="card-btn-desc">Add, change or remove documented information</span>
            </button>

            <button class="card-btn" onclick="location.href='{% url 'hr mng index' %}';">
                <span class="card-btn-title">Human Resources</span>
                <span class="card-btn-desc">Manage personnel, training, health and safety, etc.</span>
            </button>

            <button class="card-btn" onclick="fShowHideSearchForm()">
                <span class="card-btn-title">Search</span>
                <span class="card-btn-desc">Show / Hide Form</span>
            </button>

{#            <button class="card-btn" onclick="location.href='{% url 'org mng index' %}';">#}
{#                <span class="card-btn-title">Org Mng</span>#}
{#                <span class="card-btn-desc">Open</span>#}
{#            </button>#}

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">Some Title</h2>
                <p class="card-display-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Animi architecto aspernatur consequatur dolorem eos, eveniet
                    explicabo iste maiores, neque provident ratione repudiandae
                    saepe sunt tempore vel voluptate voluptatibus! Ipsam, laboriosam!
                </p>
            </div>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}
</div>
</div>
</main>

<footer class="footer">
    <h3 class="footer-title">&copy; 2023 DZ</h3>
</footer>

{# for the return-to-top button #}
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- JavaScript for the return-to-top button -->
    <script>
        $(document).ready(function() {
            // Show the button when the user scrolls down 20px from the top
            $(window).scroll(function() {
                if ($(this).scrollTop() >= 20) {
                    $('#return-to-top').fadeIn();
                } else {
                    $('#return-to-top').fadeOut();
                }
            });

            // Smooth scroll to the top when the button is clicked
            $('#return-to-top').click(function(event) {
                event.preventDefault();
                $('html, body').animate({scrollTop: 0}, 'fast');
            });
        });
    </script>
</body>
</html>
