{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}My ERP{% endblock %}
{#-------------------------------------------------------------------------#}

    </title>

{#Styles-------------------------------------------------------------------#}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{#JS Functions-------------------------------------------------------------#}
    <script type="text/javascript" src="{% static 'css/custom_functions.js' %}"></script>
</head>

<body>
    <header class="header">

{#2. Nav-------------------------------------------------------------------#}
    {% block nav %}
        <nav class="navigation">
            <ul class="nav-list" role="list">
                <li class="nav-item">
                    <i class="fas fa-home"></i>
                    <a href="{% url 'index' %}">Main Menu</a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-ranking-star"></i>
                    <a href="{% url 'organigramm' %}">Org. chart</a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-database"></i>
                    <a href="{% url 'manage db' %}">Manage DB</a>
                </li>
                <li class="nav-item">
                    <i class="fa-sharp fa-solid fa-chart-simple"></i>
                    <a href="{% url 'logs' %}">Logs</a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-thumbtack"></i>
                    <a href="{% url 'my tasks' %}">My Tasks</a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-heart"></i>
                    <a href="{% url 'favorites' %}">Favorites</a>
                </li>
            </ul>
        </nav>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Base Page to be used as a template</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

</header>
<main>

{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onclick="location.href='{% url 'process mng index' %}';">
                <span class="card-btn-title">Process Management</span>
                <span class="card-btn-desc">Add, change or remove processes and process steps</span>
            </button>

            <button class="card-btn" onclick="location.href='{% url 'dox mng index' %}';">
                <span class="card-btn-title">Documents and Records</span>
                <span class="card-btn-desc">Add, change or remove documented information</span>
            </button>

            <button class="card-btn" onclick="location.href='{% url 'hr mng index' %}';">
                <span class="card-btn-title">Human Resources</span>
                <span class="card-btn-desc">Manage personnel, training, health and safety, etc.</span>
            </button>

            <button class="card-btn card-btn-hidden"></button>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">Some Title</h2>
                <p class="card-display-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Animi architecto aspernatur consequatur dolorem eos, eveniet
                    explicabo iste maiores, neque provident ratione repudiandae
                    saepe sunt tempore vel voluptate voluptatibus! Ipsam, laboriosam!
                </p>
            </div>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

</main>

<footer class="footer">
    <h3 class="footer-title">&copy; 2023 DZ</h3>
</footer>
</body>
</html>
