{% extends 'core/base.html' %}

{% block page_title %}
    Manage DB HR
{% endblock %}

{#1. Nav----------------------------------------------------------------------#}

{#2. Header-------------------------------------------------------------------#}
    {% block page_name %}
        <header>
            <h1>
                Manage Database HR
            </h1>
        </header>
    {% endblock %}

{% block page_content %}
{#3. Buttons------------------------------------------------------------------#}
    <div class="container" id="con1">
        <button
                class="card"
                onclick="location.href='{% url 'manage db' %}';"
        >
            <h2>< Back</h2>
            <p>
                Go back to the main menu
            </p>
        </button>

        <button class="card"></button>

                <button
                class="card"
                onclick="location.href='{% url 'employee list' %}';"
        >
            <h2>Employee List</h2>
            <p>
                Display a list of all employees. Edit or delete employees
            </p>
        </button>
    </div>

{#4. Display------------------------------------------------------------------#}
    <div class="container" id="con2">
        <div class="card display">

            <p>Select an excel file to add the employees to the database:</p>
            <form action="{% url 'manage db hr' %}"
                  method="post"
                  enctype="multipart/form-data">

                    {{ form }}

                 {% csrf_token %}
                 <br><br>

                 <button class="form_button" name="button_manage_db_hr">
                     Add to database
                 </button>
            </form>

            <p>
                {% if message %}
                    {{ message }}
                {% endif %}
            </p>

        </div>
    </div>

{% endblock %}
