{% extends 'core/base.html' %}

{% block page_title %}
    My Tasks
{% endblock %}

{#1. Nav----------------------------------------------------------------------#}

{#2. Header-------------------------------------------------------------------#}
    {% block page_name %}
        <header>
            <h1>
                My Tasks
            </h1>
        </header>
    {% endblock %}

{% block page_content %}
{#3. Buttons------------------------------------------------------------------#}
    <div class="container" id="con1">
        <button
                class="card"
                onClick="javascript:history.go(-1);"
        >
            <h2>< Back</h2>
            <p>
                Go back to the previous menu
            </p>
        </button>

        <button class="card"></button>

        <button class="card"></button>

        <button class="card"></button>
    </div>

{#4. Display------------------------------------------------------------------#}
    <div class="container" id="con2">
        <div class="card display">

            <p>Open task list:</p>

{#    <table class="table-data">#}
{#    <thead>#}
{#        <tr>#}
{#            <th>Nr</th>#}
{#            <th>Operation</th>#}
{#            <th>@Time</th>#}
{#            <th>Duration</th>#}
{#        </tr>#}
{#    </thead>#}
{##}
{#    <tbody>#}
{#            {% for log in logs %}#}
{#        <tr>#}
{#            <td>{{ log.pk }}</td>#}
{#            <td>{{ log.operation }}</td>#}
{#            <td>{{ log.performed_at_time }}</td>#}
{#            <td>{{ log.execution_time }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}
{##}
{#    </tbody>#}
{##}
{#    </table>#}

        </div>
    </div>

{% endblock %}
