{% extends 'core/base.html' %}

{% block page_title %}
    Organigramm
{% endblock %}

{#1. Nav----------------------------------------------------------------------#}

{#2. Header-------------------------------------------------------------------#}
    {% block page_name %}
        <header>
            <h1>
                Organization Chart
            </h1>
        </header>
    {% endblock %}

{% block page_content %}
{#3. Buttons------------------------------------------------------------------#}
    <div class="container" id="con1">

        <button
                class="card"
                onClick="javascript:history.go(-1);"
        >
            <h2>< Back</h2>
            <p>
                Go back to the previous menu
            </p>
        </button>

        <button class="card"></button>

        <button class="card"></button>

        <button class="card"></button>
    </div>

{#4. Display------------------------------------------------------------------#}
    <div class="container" id="con2">
        <div class="card display">

            <div class="organigramm-grid">

            {% for key, value in employees_w_owned_processes.items %}

                <div class="organigramm-box">
                    {{ key.position.name }}
                </div>

                <div class="organigramm-box">

                    <a class="table-link"
                           href="{% url 'show employee' pk=key.pk slug=key.slug %}">
                        {{ key.get_full_name }}</a>
                </div>

                <div class="organigramm-box">
                    {% if value %}
                        {% for v in value %}
                            <a class="table-link"
                               href="{% url 'show process' pk=v.pk slug=v.slug %}">{{ v.name }}</a>
                            <br>
                        {% endfor %}
                    {% endif %}
                </div>

                {% endfor %}

            </div>

        </div>
    </div>

{% endblock %}
