@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --clr-main-bg: #AAC6D0;

  /*--clr-nav-bg: #190f05;*/
  /*--clr-nav-bg: #e89238;*/
  --clr-nav-bg: #e89238;

  /*--clr-nav-a: #B5D1DB;*/
  --clr-nav-a: black;

  /*--clr-nav-a-hover: #555;*/
  --clr-nav-a-hover: #dedede;

  --clr-title-text: #333;
  --clr-p-text: #666;

  /*--clr-card-bg: #eef4f6;*/
  --clr-card-bg: white;

  /*--clr-card-bg-hover: #ccdde3;*/
  --clr-card-bg-hover: #dedede;

  --clr-display-text: #333333;
  --clr-display-message: blue;
  --clr-table-border: #ccc;
  --clr-table-data-odd-bg: lightgrey;
  --clr-forms: #f2f2f2;
  --clr-table-hd: grey;

  --clr-dark-grey: #CCCCCC;
  --clr-light-grey: #F3F3F3;
  --clr-red: #EA9999;
}

body {
  font-family: 'Roboto', sans-serif;
  /*background-color: var(--clr-main-bg);*/

  /* change bg color*/
  background-color: #F3F3F3;
  }

i {
  width: 1.14em;
  padding-right: 0.28em;
  margin-right: 0.28em;
}

/* 2. Nav -----------------------------------------------------------------*/
.header .navigation {
  background-color: var(--clr-nav-bg);
  width: 95vw;
  max-width: 1200px;
  height: 2rem;
  margin: 0.5rem auto 1rem auto;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .navigation .nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  /*justify-content: space-around;*/
  justify-content: flex-start;

  align-items: center;
}

.header .navigation .nav-list .nav-item {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

.header .navigation .nav-list .nav-item:hover {
  background-color: var(--clr-nav-a-hover);
}

.header .navigation .nav-list .nav-item a,
.header .navigation .nav-list .nav-item i {
  color: var(--clr-nav-a);
  text-decoration: none;
  /*font-weight: bold;*/
}

.user-container {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 4px;
}

.vertical {
  height: 20px;
}

.user-name {
  font-size: 1rem;
  color: white;
  font-weight: normal;
  margin-right: 7px;
}

.user-letter-container {
  width: 25px;
  height: 25px;
  background-color: var(--clr-dark-grey);
  border: 1px solid white;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-letter {
  font-size: 0.9rem;
}

/*-------------------------------------------------------------------------*/

/* 3. Page Name -----------------------------------------------------------*/
.header .page-title {
  font-size: 1.9rem;
  text-align: center;
  color: var(--clr-title-text);
  margin-bottom: 2rem;

  /*Hide the page title */
  display: none;
}
/*-------------------------------------------------------------------------*/

/* 4. Section1 ------------------------------------------------------------*/
.card-buttons-section {
  /*width: 80vw;*/
  width: 95vw;
  max-width: 1200px;
  /*margin: 0 auto 3rem auto;*/
  margin: 0 auto 1px auto;
}

.card-buttons-section .all-card-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.card-buttons-section .all-card-buttons-container .card-btn {
  /*background-color: var(--clr-card-bg);*/
  background-color: var(--clr-dark-grey);
  /*background-color: var(--clr-card-bg-hover);*/

  /*change height*/
  /*min-height: 7rem;*/
  min-height: 2rem;

  width: 21%;
  border-width: 0;

  /*change border*/
  /*border-radius: 0.5rem;*/
  border-radius: 0.5rem 0.5rem 0 0;

  /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);*/

  transition: background-color 250ms linear, color 300ms linear;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.card-buttons-section .all-card-buttons-container .card-btn-hidden {
  background-color: #e0e0e0;
  box-shadow: none;
  opacity: 0.5;
}

.card-buttons-section .all-card-buttons-container .card-btn:hover,
.card-buttons-section .all-card-buttons-container .card-btn:active{
  background-color: var(--clr-card-bg-hover);
  /*background-color: var(--clr-dark-grey);*/
}

.card-buttons-section .all-card-buttons-container .card-btn-hidden:hover {
  background-color: #e0e0e0;
}

.card-buttons-section .all-card-buttons-container .card-btn .card-btn-title {
  display: block;
  height: 50%;
  font-weight: bold;
  /*font-size: 1.2rem;*/
  font-size: 1rem;
  color: var(--clr-title-text);
}

.card-buttons-section .all-card-buttons-container .card-btn .card-btn-desc {
  /* hide desc */
  /*display: block;*/
    display: none;

  height: 50%;
  font-size: 0.8rem;
  color: var(--clr-p-text);


}
/*-------------------------------------------------------------------------*/

/* 5. Section2 ------------------------------------------------------------*/
.display-content-section {
  /*width: 80vw;*/
  width: 95vw;
  max-width: 1200px;
  margin: 0 auto 3rem auto;
}

.display-content-section .all-display-content-container {
  width: 100%;
  height: 100%;
}

.display-content-section .all-display-content-container .card-display {
  background-color: var(--clr-card-bg);
  width: 100%;
  height: 100%;

  /*adding min height*/
  min-height: 500px;

  /*change border*/
  /*border-radius: 0.5rem;*/
  border-radius: 0 0 0.5rem 0.5rem;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 1rem;

  position: relative;
}

.display-content-section .all-display-content-container .card-display .card-display-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--clr-title-text);
  margin-bottom: 0.5rem;

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.display-content-section .all-display-content-container .card-display .card-display-content {
  font-size: 15px;
  color: var(--clr-display-text);
  margin-bottom: 0.5rem;
}

.display-content-section .all-display-content-container .card-display .card-display-content-bold {
  font-size: 15px;
  color: var(--clr-display-text);
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.display-content-section .all-display-content-container .card-display .card-display-return-message {
  font-size: 15px;
  color: var(--clr-display-message);
  margin-bottom: 0.5rem;
}
/*-------------------------------------------------------------------------*/

/* Table links ------------------------------------------------------------*/
a.table-link {
  color: var(--clr-display-text);
  transition: color 100ms linear;
  font-size: 15px;
}

a.table-link:hover {
  color: var(--clr-display-message);
}
/*-------------------------------------------------------------------------*/

/* Tables for forms -------------------------------------------------------*/
.display-content-section .all-display-content-container .card-display .table-form  {
  margin-bottom: 0.5rem;

/*border-collapse: collapse;*/
  border: solid 1px var(--clr-nav-bg);
  padding: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.display-content-section .all-display-content-container .card-display .table-form th {
  background-color: var(--clr-card-bg);
  width: 144px;
  height: 32px;
  text-align: left;
  border: solid 1px var(--clr-table-border);
  font-size: 14px;
}

.display-content-section .all-display-content-container .card-display .table-form td {
  /*background-color: var(--clr-forms);*/
  background-color: var(--clr-card-bg);
  width: 300px;
  height: 32px;
  border: solid 1px var(--clr-table-border);
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}

.display-content-section .all-display-content-container .card-display .table-form td > input {
  width: 100%;

}

/*-------------------------------------------------------------------------*/

/* Buttons ----------------------------------------------------------------*/
.display-content-section .all-display-content-container .card-display .form-button {
  padding: 3px 7px;
  color: var(--clr-display-text);
  cursor: pointer;
  background-color: var(--clr-forms);
  border-width: 1px;
  border-color: var(--clr-p-text);
  /*border-radius: 0.5rem;*/
  transition: background-color 250ms linear, color 200ms linear;
  line-height: 1;
  font-size: 15px;
  }

.display-content-section .all-display-content-container .card-display .form-button:hover {
    color: var(--clr-card-bg);
    background-color: #555;
  }

.plus-button {
  position: absolute;
  font-size: 1.5rem;
  color: var(--clr-nav-bg);
  border: none;
  background: none;
}

.plus-button:hover {
  color: black;
}

/*-------------------------------------------------------------------------*/

/* Tables for data---------------------------------------------------------*/
.display-content-section .all-display-content-container .card-display .table-data-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: solid 1px var(--clr-nav-bg);
  padding: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.display-content-section .all-display-content-container .card-display .table-data  {
  border-collapse: collapse;
  border: solid 3px black;
}

.display-content-section .all-display-content-container .card-display .table-data th {
  /*background-color: var(--clr-table-hd);*/
  background-color: var(--clr-nav-bg);
  text-align: left;
  border: solid 1px var(--clr-table-border);
  font-size: 15px;
  color: var(--clr-display-text);
  padding: 0 0.6rem 0 0.5rem;
  max-width: 130px;
}

.display-content-section .all-display-content-container .card-display .table-data td {
  border: solid 1px var(--clr-table-border);
  font-size: 15px;
  color: var(--clr-display-text);
  padding: 0 0.6rem 0 0.5rem;
  max-width: 130px;
  overflow: hidden;
}

.display-content-section .all-display-content-container .card-display .table-data tbody tr:nth-child(even) {
  background-color: var(--clr-table-data-odd-bg);
}
/*-------------------------------------------------------------------------*/

/* Organigramm ------------------------------------------------------------*/
.display-content-section .all-display-content-container .card-display .organigramm-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
/*-------------------------------------------------------------------------*/

/* Process Map ------------------------------------------------------------*/
.display-content-section .all-display-content-container .card-display .process-map-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
/*-------------------------------------------------------------------------*/

/* Organigramm, Process Map -----------------------------------------------*/
.display-content-section .all-display-content-container .card-display .organigramm-box,
.display-content-section .all-display-content-container .card-display .process-box {
  border: solid 1px var(--clr-table-border);
  height: 170px;
  overflow: auto;
}
/*-------------------------------------------------------------------------*/

/* Flowchart and turtle ---------------------------------------------------*/
.flowchart-grid {
  display: grid;
  grid-template-columns: 1% 15% 51% 14% 15%;
  grid-template-rows: repeat(15, 100px);
  gap: 20px 7px;
}

.turtle-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
}

.flowchart-box {
  border: solid 1px var(--clr-table-border);
  font-size: 14px;
  overflow: auto;
  background-color: var(--clr-card-bg-hover);
}

.flowchart-box-text {
  border: solid 1px var(--clr-table-border);
  font-size: 13px;
  overflow: auto;
  background-color: var(--clr-card-bg-hover);
}

.flowchart-box-number {
  font-size: 1rem;
  text-align: left;
}

.flowchart-box a.table-link,
.flowchart-box-text a.table-link{
  font-size: 14px;
}
/*-------------------------------------------------------------------------*/

/* Footer -----------------------------------------------------------------*/
.footer .footer-title {
  font-size: 0.7rem;
  font-weight: normal;
  text-align: center;

  /*hide footer*/
  display: none;
}
/*-------------------------------------------------------------------------*/
