@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --clr-main-bg: #AAC6D0;
  --clr-nav-bg: #190f05;
  --clr-nav-a: #B5D1DB;
  --clr-nav-a-hover: #555;
  --clr-title-text: #333;
  --clr-p-text: #666;
  --clr-card-bg: #eef4f6;
  --clr-card-bg-hover: #ccdde3;
  --clr-display-text: #333333;
  --clr-table-border: #ccc;
  --clr-table-data-odd-bg: lightgrey;
  --clr-forms: #f2f2f2;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--clr-main-bg);
  }

/* 2. Nav -----------------------------------------------------------------*/
.header .navigation {
  background-color: var(--clr-nav-bg);
  width: 95vw;
  max-width: 1200px;

  height: 2rem;
  margin: 0.5rem auto 1rem auto;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .navigation .nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header .navigation .nav-list .nav-item {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

.header .navigation .nav-list .nav-item:hover {
  background-color: var(--clr-nav-a-hover);
}

.header .navigation .nav-list .nav-item a,
.header .navigation .nav-list .nav-item i {
  color: var(--clr-nav-a);
  text-decoration: none;
}
/*-------------------------------------------------------------------------*/

/* 3. Page Name -----------------------------------------------------------*/
.header .page-title {
  font-size: 1.9rem;
  text-align: center;
  color: var(--clr-title-text);
  margin-bottom: 2rem;
}
/*-------------------------------------------------------------------------*/

/* 4. Section1 ------------------------------------------------------------*/
.card-buttons-section {
  /*width: 80vw;*/
  width: 95vw;
  max-width: 1200px;
  margin: 0 auto 3rem auto;
}

.card-buttons-section .all-card-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.card-buttons-section .all-card-buttons-container .card-btn {
  background-color: var(--clr-card-bg);
  min-height: 6rem;
  width: 21%;
  border-width: 0;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transition: background-color 250ms linear, color 300ms linear;
}

.card-buttons-section .all-card-buttons-container .card-btn:hover,
.card-buttons-section .all-card-buttons-container .card-btn:active{
  background-color: var(--clr-card-bg-hover);
}

.card-buttons-section .all-card-buttons-container .card-btn .card-btn-title {
  display: block;
  height: 50%;
  padding: 0.8rem 0.2rem 0 0.2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--clr-title-text);
}

.card-buttons-section .all-card-buttons-container .card-btn .card-btn-desc {
  display: block;
  height: 50%;
  padding: 0.2rem 1rem 0.5rem 1rem;
  font-size: 0.8rem;
  color: var(--clr-p-text);
}
/*-------------------------------------------------------------------------*/

/* 5. Section2 ------------------------------------------------------------*/
.display-content-section {
  /*width: 80vw;*/
  width: 95vw;
  max-width: 1200px;
  margin: 0 auto 3rem auto;
}

.display-content-section .all-display-content-container {
  width: 100%;
  height: 100%;
}

.display-content-section .all-display-content-container .card-display {
  background-color: var(--clr-card-bg);
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.display-content-section .all-display-content-container .card-display .card-display-title {
  padding: 0.8rem 0.2rem 0.8rem 0.2rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--clr-title-text);
}

.display-content-section .all-display-content-container .card-display .card-display-content {
  padding: 0 1rem 0.5rem 1rem;
  font-size: 0.9rem;
  color: var(--clr-display-text);
}
/*-------------------------------------------------------------------------*/






/* Footer -----------------------------------------------------------------*/
.footer .footer-title {
  font-size: 0.7rem;
  font-weight: normal;
  text-align: center;
}
/*-------------------------------------------------------------------------*/


/* Tables for data */
/*-----------------------------------------------------------------------*/

.table-data  {
  border-collapse: collapse;
}

.table-data th {
  background-color: grey;
  width: 144px;
  height: 32px;
  text-align: left;
  border: solid 1px #ccc;
  font-size: 14px;
}

.table-data td {
  width: 144px;
  height: 32px;
  border: solid 1px #ccc;
  padding-left: 5px;
  font-size: 14px;

}

.table-data tbody tr:nth-child(odd) {
  background-color: lightgrey;
}

/* Tables for forms */
/*-----------------------------------------------------------------------*/

.table-form  {
  border-collapse: collapse;
}

.table-form th {
  background-color: #f2f2f2;
  width: 144px;
  height: 32px;
  text-align: left;
  border: solid 1px #ccc;
  font-size: 14px;
}

.table-form td {
  background-color: #f2f2f2;
  width: 144px;
  height: 32px;
  border: solid 1px #ccc;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}

/* Buttons */
/*-----------------------------------------------------------------------*/

  button.form_button {
    padding: 3px 7px;
    color: #333333;
    font-weight: 500;
    border: solid 1px black;
    cursor: pointer;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 0px; /* give a rounder look*/
    background-color: #f2f2f2;
    transition: background-color 300ms linear, color 300ms linear;
  }

  button.form_button:hover {
    color: whitesmoke;
    background-color: gray;
  }

/* Links to use in the tables */
/*-----------------------------------------------------------------------*/

a.table-link {
  color: black;
  transition: color 100ms linear;
}

a.table-link:hover {
  color: blue;
}

/* Icons */
/*-----------------------------------------------------------------------*/

i {
  width: 1.14em;
  padding-right: 0.28em;
  margin-right: 0.28em;
}

/* Flowchart */
/*-----------------------------------------------------------------------*/

.flowchart-grid {
  display: grid;
  grid-template-columns: 420px 420px;
  grid-template-rows: repeat(15, 100px);
  gap: 20px;
}

.flowchart-box {
  border: solid 1px #ccc;
  display: inline-block;
}

.flowchart-box.overflow-box {
  font-size: 12px;
  overflow: auto;
}


/* Process Map */
/*-----------------------------------------------------------------------*/

.process-map-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.process-box {
  border: solid 1px #ccc;
}

/* Turtle */
/*-----------------------------------------------------------------------*/

.turtle-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.turtle-box {
  border: solid 1px #ccc;
  height: 170px;
}

.turtle-box.overflow-box {
  font-size: 12px;
  overflow: auto;
}

/* Organigramm */
/*-----------------------------------------------------------------------*/

.organigramm-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.organigramm-box {
  border: solid 1px #ccc;
  height: 170px;
  overflow: auto;
}
