@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --clr-main-bg: #AAC6D0;

  /*--clr-nav-bg: #190f05;*/
  /*--clr-nav-bg: #e89238;*/
  --clr-nav-bg: #e89238;

  /*--clr-nav-a: #B5D1DB;*/
  --clr-nav-a: black;

  /*--clr-nav-a-hover: #555;*/
  --clr-nav-a-hover: #dedede;

  --clr-title-text: #333;
  --clr-p-text: #666;

  /*--clr-card-bg: #eef4f6;*/
  --clr-card-bg: white;

  /*--clr-card-bg-hover: #ccdde3;*/
  --clr-card-bg-hover: #dedede;

  --clr-display-text: #333333;
  --clr-display-message: blue;
  --clr-table-border: #ccc;
  --clr-table-data-odd-bg: lightgrey;
  --clr-forms: #f2f2f2;
  --clr-table-hd: grey;

  --clr-dark-grey: #CCCCCC;
  --clr-light-grey: #F3F3F3;
  --clr-red: #EA9999;
}

body {
  font-family: 'Roboto', sans-serif;
  /*background-color: var(--clr-main-bg);*/

  /* change bg color*/
  background-color: #F3F3F3;
  }

/* Icons -----------------------------------------------------------------*/

#id_new_quantity {
  width: 80px;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 22px;
}

i {
  width: 1.14em;
  padding-right: 0.28em;
  margin-right: 0.28em;
}

.iframe-ms-office {
  border: none;
  width: 100%;
}

.iframe-pdf {
  border: none;
  width: 100%;
  height: 510px;
}

.fa-magnifying-glass {
  color: blue;
}

.fa-pen-to-square {
  color: darkcyan;
}

.fa-trash {
  color: red;
}

/*-------------------------------------------------------------------------*/

/* Images -----------------------------------------------------------------*/

.logo-img {
  max-width: 200px;
  position: absolute;
  top: 120px;
  left: 730px;
}

/*-------------------------------------------------------------------------*/

/* 2. Nav -----------------------------------------------------------------*/

.header .navigation {
  background-color: var(--clr-nav-bg);
  width: 95vw;
  max-width: 1500px;
  height: 2rem;
  margin: 0.5rem auto 1rem auto;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header .navigation .nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  /*justify-content: space-around;*/
  justify-content: flex-start;

  align-items: center;
}

.header .navigation .nav-list .nav-item {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

.header .navigation .nav-list .nav-item:hover {
  background-color: var(--clr-nav-a-hover);
}

.header .navigation .nav-list .nav-item a,
.header .navigation .nav-list .nav-item i {
  color: var(--clr-nav-a);
  text-decoration: none;
  /*font-weight: bold;*/
}

.lang {
}

.lang-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lang-form select {
  font-size: 0.9rem;
  /*background-color: #F3F3F3;*/
  background-color: #e89238;

  border: 1px solid white;
  border-radius: 3px;
}

.lang-button {
  font-size: 0.9rem;
  border: none;
  background-color: #e89238;
}

.lang-button:hover {
  text-decoration: none;
  color: white;
}

.user-container {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 5px;
  margin-right: 4px;
}

.vertical {
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.log-out {
  font-size: 0.9rem;
  color: gray;
  font-weight: normal;
  margin-right: 0;
}

.user-name {
  font-size: 0.9rem;
  color: white;
  font-weight: normal;
  margin-right: 7px;
}

.user-letter-container {
  width: 25px;
  height: 25px;
  background-color: var(--clr-dark-grey);
  border: 1px solid white;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-letter {
  margin-top: 1px;
  margin-left: 1px;
  font-size: 0.9rem;
}

.user-name-a {
  text-decoration: none;
  color: black;
}

.user-name-a:hover {
  text-decoration: none;
  color: white;
}

/*-------------------------------------------------------------------------*/

/* 3. Page Name -----------------------------------------------------------*/
.header .page-title {
  font-size: 1.9rem;
  text-align: center;
  color: var(--clr-title-text);
  margin-bottom: 2rem;

  /*Hide the page title */
  display: none;
}
/*-------------------------------------------------------------------------*/

/*---*/
.total-container {
  width: 95vw;
  max-width: 1500px;
  min-height: 700px;
  margin: auto;

  display: flex;
  flex-direction: row;
  gap: 1rem;

}
/*---*/

/* 3.5. Menu --------------------------------------------------------------*/
.menu-container {
  width: 282px;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.menu-list {
}

.horizontal {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 2px;
}

.menu-item {
  width: 100%;
  margin: 0 auto 10px auto;

  background-color: var(--clr-dark-grey);

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);

  height: 1rem;
  border-width: 0;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  transition: background-color 250ms linear, color 300ms linear;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.menu-item:hover {
  /*background-color: var(--clr-card-bg-hover);*/
  background-color: var(--clr-nav-bg);
}

.menu-item .menu-item-title {
  display: block;
  /*font-weight: bold;*/
  font-size: 1rem;
  color: var(--clr-title-text);
}

#control-button {
  width: 80%;
  height: 20px;

  padding-left: 14px;
  border: none;
  border-radius: 5px;
  margin-left: 25px;
  margin-bottom: 10px;

  background-color: var(--clr-dark-grey);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
}

#control-button:hover {
  /*background-color: var(--clr-card-bg-hover);*/
  background-color: var(--clr-nav-bg);
}

#control-button i {
  color: var(--clr-title-text);
  font-size: 1rem;
}

#dynamic-buttons {
}

.menu-item-minor {
  width: 80%;
  margin: 0 auto 10px auto;
}

.menu-item-minor:last-child {
  margin-bottom: 0;
}

/* Styles for the return-to-top button */
#return-to-top {
  position: fixed;
  bottom: 200px;
  left: 320px;
  background: darkgray;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
  border-width: 0;
  display: none;

  padding-left: 8px;
}

#return-to-top:hover {
  background: var(--clr-nav-bg);
}

/*-------------------------------------------------------------------------*/

/*---*/
.all-sections-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
}
/*---*/

/* 4. Section1 ------------------------------------------------------------*/
.card-buttons-section {
  /*width: 95vw;*/
  /*max-width: 1200px;*/
  width: 100%;

  /*margin: 0 auto 3rem auto;*/
  margin: 0 auto 1px auto;
}

.card-buttons-section .all-card-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.card-buttons-section .all-card-buttons-container .card-btn {
  /*background-color: var(--clr-card-bg);*/
  background-color: var(--clr-dark-grey);
  /*background-color: var(--clr-card-bg-hover);*/

  /*change height*/
  /*min-height: 7rem;*/
  min-height: 2rem;

  width: 21%;
  border-width: 0;

  /*change border*/
  /*border-radius: 0.5rem;*/
  border-radius: 0.5rem 0.5rem 0 0;

  /*box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);*/

  transition: background-color 250ms linear, color 300ms linear;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.card-buttons-section .all-card-buttons-container .card-btn-hidden {
  background-color: #e0e0e0;
  box-shadow: none;
  opacity: 0.5;
}

.card-buttons-section .all-card-buttons-container .card-btn:hover,
.card-buttons-section .all-card-buttons-container .card-btn:active{
  /*background-color: var(--clr-card-bg-hover);*/
  background-color: var(--clr-nav-bg);
  /*cursor: pointer;*/
  /*background-color: var(--clr-dark-grey);*/
}

.card-buttons-section .all-card-buttons-container .card-btn-hidden:hover {
  background-color: #e0e0e0;
}

.card-buttons-section .all-card-buttons-container .card-btn .card-btn-title {
  display: block;
  /*height: 50%;*/
  font-weight: bold;
  /*font-size: 1.2rem;*/
  font-size: 1rem;
  color: var(--clr-title-text);
}

.card-buttons-section .all-card-buttons-container .card-btn .card-btn-desc {
  /* hide desc */
  /*display: block;*/
    display: none;

  height: 50%;
  font-size: 0.8rem;
  color: var(--clr-p-text);


}
/*-------------------------------------------------------------------------*/

/* 5. Section2 ------------------------------------------------------------*/
.display-content-section {
  /*width: 95vw;*/
  /*max-width: 1200px;*/
  width: 100%;
  height: 100%;

  /*margin: 0 auto 3rem auto;*/
  margin: 0 auto 0 auto;
}

.display-content-section .all-display-content-container {
  width: 100%;
}

.display-content-section .all-display-content-container .card-display {
  background-color: var(--clr-card-bg);
  width: 100%;
  height: 100%;

  /*adding min height*/
  min-height: 650px;

  /*change border*/
  /*border-radius: 0.5rem;*/
  border-radius: 0 0 0.5rem 0.5rem;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 1rem;

  position: relative;
}

.display-content-section .all-display-content-container .card-display .card-display-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--clr-title-text);
  margin-bottom: 0.5rem;

  background-color: #F3F3F3;

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}

.display-content-section .all-display-content-container .card-display .card-display-content {
  font-size: 15px;
  color: var(--clr-display-text);
  margin-bottom: 0.5rem;
}

.display-content-section .all-display-content-container .card-display .card-display-content-bold {
  font-size: 15px;
  color: var(--clr-display-text);
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.display-content-section .all-display-content-container .card-display .card-display-return-message {
  font-size: 15px;
  color: var(--clr-display-message);
  margin-bottom: 0.5rem;
}
/*-------------------------------------------------------------------------*/

/* Table links ------------------------------------------------------------*/
a.table-link {
  color: var(--clr-display-text);
  transition: color 100ms linear;
  font-size: 15px;
  text-decoration: none;
}

a.table-link:hover {
  color: var(--clr-display-message);
  text-decoration: underline;
}
/*-------------------------------------------------------------------------*/

/* Tables for forms -------------------------------------------------------*/
.display-content-section .all-display-content-container .card-display .table-form  {
  margin-bottom: 0.5rem;

/*border-collapse: collapse;*/
  border: solid 1px var(--clr-nav-bg);
  padding: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.display-content-section .all-display-content-container .card-display .table-form th {
  background-color: var(--clr-card-bg);
  width: 144px;
  height: 32px;
  text-align: left;
  /*border: solid 1px var(--clr-table-border);*/
  font-size: 14px;
  font-weight: bold;
}

.display-content-section .all-display-content-container .card-display .table-form td {
  /*background-color: var(--clr-forms);*/
  background-color: var(--clr-card-bg);
  width: 300px;
  height: 32px;
  /*border: solid 1px var(--clr-table-border);*/
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}

.display-content-section .all-display-content-container .card-display .table-form td > input {
  width: 100%;

}

/*-------------------------------------------------------------------------*/

/* File input -------------------------------------------------------------*/

.file-input {
  visibility: hidden;
}

.button-replacement {
  position: absolute;
  top: 130px;
  left: 175px;
  height: 25px;
  font-size: 0.9rem;
  border: 1px solid black;
}

.button-replacement:hover {
  background-color: var(--clr-nav-bg);
}

/*-------------------------------------------------------------------------*/

/* Divs for forms -------------------------------------------------------*/
.display-content-section .all-display-content-container .card-display .table-div  {
  margin-bottom: 0.5rem;
/*border-collapse: collapse;*/
  border: solid 1px var(--clr-nav-bg);
  padding: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-div-holder {
  margin-bottom: 20px;
}

.table-div-holder:first-child {
  margin-top: 10px;
}

.table-div-holder:last-child {
  margin-bottom: 10px;
}

.table-div-label {
  height: 32px;
  font-size: 0.9rem;
  margin-right: 10px;
  margin-left: 20px;
  font-weight: bold;
}

.table-div-label:first-child {
  margin-left: 0;
}

.table-div-input {
  width: 200px;
  height: 28px;
  border: solid 1px #1c1a1a;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  background-color: #FFEACE;
  /*background-color: #EDE0DC;*/
}

/* Specifically for add org -----------------------------------------------*/

.table-div-input-1 {
  width: 392px;
}

.table-div-input-3,
.table-div-input-4,
.table-div-input-5{
  width: 300px;
}

/*-------------------------------------------------------------------------*/

/* Buttons ----------------------------------------------------------------*/
.display-content-section .all-display-content-container .card-display .form-button {
  padding: 3px 7px;
  color: var(--clr-display-text);
  cursor: pointer;
  background-color: var(--clr-forms);
  border-width: 1px;
  border-color: var(--clr-p-text);
  /*border-radius: 0.5rem;*/
  transition: background-color 250ms linear, color 200ms linear;
  line-height: 1;
  font-size: 15px;
  }

.display-content-section .all-display-content-container .card-display .form-button:hover {
    color: var(--clr-card-bg);
    background-color: #555;
  }

.plus-button {
  position: absolute;
  font-size: 1.5rem;
  color: var(--clr-nav-bg);
  border: none;
  background: none;
}

.plus-button:hover {
  color: black;
}

/*-------------------------------------------------------------------------*/

/* Tables for data---------------------------------------------------------*/
.display-content-section .all-display-content-container .card-display .table-data-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border: solid 1px var(--clr-nav-bg);
  padding: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.display-content-section .all-display-content-container .card-display .table-data  {
  border-collapse: collapse;

  table-layout: fixed;
  /*width: 1200px;*/

  max-width: 1200px;
}

.display-content-section .all-display-content-container .card-display .table-data th {
  /*background-color: var(--clr-table-hd);*/
  background-color: var(--clr-nav-bg);
  text-align: left;
  border: solid 1px var(--clr-table-border);
  font-size: 15px;
  color: var(--clr-display-text);
  padding: 0 0.6rem 0 0.5rem;

  /*max-width: 250px;*/
  overflow: hidden;
}

.display-content-section .all-display-content-container .card-display .table-data td {
  border: solid 1px var(--clr-table-border);
  font-size: 15px;
  color: var(--clr-display-text);
  padding: 0 0.6rem 0 0.5rem;

  /*max-width: 250px;*/
  overflow: hidden;
  /*word-wrap: break-word;*/
}

.actions-td {
  min-width: 90px;
}

.display-content-section .all-display-content-container .card-display .table-data tbody tr:nth-child(even) {
  /*background-color: var(--clr-table-data-odd-bg);*/
  background-color: #F3F3F3;
}
/*-------------------------------------------------------------------------*/

/* Organigramm ------------------------------------------------------------*/
.display-content-section .all-display-content-container .card-display .organigramm-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
/*-------------------------------------------------------------------------*/

/* Process Map ------------------------------------------------------------*/
.process-type-holder {
  width: 100%;
  background-color: #FFFFFFFF;
  border-radius: 0.3rem;

  border: solid 2px var(--clr-nav-bg);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.process-type-holder:last-of-type {
  margin-bottom: 0;
}

.process-type-title {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  color: black;
  background-color: var(--clr-dark-grey);
}

.process-box-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  flex-wrap: wrap;

  padding: 10px;
}

.process-box {
  padding: 5px;
  width: 200px;
  height: 120px;

  background-color: #FFFFFFFF;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 10px;
}

.process-map-link-title-wrapper {
  height: 50px;
  width: 100%;

  border-radius: 0.3rem;

  background-color: #CCCCCC;

  text-align: center;
  overflow: hidden;
  padding-left: 3px;
  padding-right: 3px;
}

.process-map-link-title {
  font-size: 1rem;
  font-weight: bold;

  color: black;

  text-align: center;
  text-decoration: none;
}

.process-map-link-title:hover {
  text-decoration: underline;
}

.process-map-link {
  font-size: 0.9rem;
  font-weight: normal;
  color: black;
  text-align: center;
  text-decoration: none;
}

.process-map-link:hover {
  text-decoration: underline;
}

/*-------------------------------------------------------------------------*/

/* Organigramm ------------------------------------------------------------*/
.display-content-section .all-display-content-container .card-display .organigramm-box {
  border: solid 1px var(--clr-table-border);
  height: 170px;
  overflow: auto;
}
/*-------------------------------------------------------------------------*/

/* Flowchart and turtle ---------------------------------------------------*/
.flowchart-grid {
  display: grid;
  grid-template-columns: 1% 15% 51% 14% 15%;
  grid-template-rows: repeat(15, 100px);
  gap: 20px 7px;
}

.turtle-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
}

.flowchart-box {
  border: solid 1px var(--clr-table-border);
  font-size: 14px;
  overflow: auto;
  background-color: var(--clr-card-bg-hover);
}

.flowchart-box-text {
  border: solid 1px var(--clr-table-border);
  font-size: 13px;
  overflow: auto;
  background-color: var(--clr-card-bg-hover);
}

.flowchart-box-number {
  font-size: 1rem;
  text-align: left;
}

.flowchart-box a.table-link,
.flowchart-box-text a.table-link{
  font-size: 14px;
}
/*-------------------------------------------------------------------------*/

/* Footer -----------------------------------------------------------------*/
.footer .footer-title {
  font-size: 0.7rem;
  font-weight: normal;
  text-align: center;

  /*hide footer*/
  display: none;
}
/*-------------------------------------------------------------------------*/
