{% extends 'core/base.html' %}

{% block page_title %}
    Delete Document
{% endblock %}

{#1. Nav----------------------------------------------------------------------#}

{#2. Header-------------------------------------------------------------------#}
    {% block page_name %}
        <header>
            <h1>
                Delete Document
            </h1>
        </header>
    {% endblock %}

{% block page_content %}
{#3. Buttons------------------------------------------------------------------#}
    <div class="container" id="con1">
        <button
                class="card"
                onclick="location.href='{% url 'document list' %}';"
        >
            <h2>< Back</h2>
            <p>
                Go back to the document list
            </p>
        </button>

        <button class="card"></button>

        <button class="card"></button>
    </div>

{#4. Display------------------------------------------------------------------#}
    <div class="container" id="con2">
        <div class="card display">

            <form action="{% url 'delete document' pk=document.pk slug=document.slug %}" method="post">
                {{ form.as_div }}
                {% csrf_token %}
                <button>delete</button>
            </form>

        </div>
    </div>

{% endblock %}
