{% extends 'core/base.html' %}
{% load cloudinary %}

{% block page_title %}Document list{% endblock %}
{% block page_name %}<h3 align="center">
    Module 2: Document List
</h3>{% endblock %}

{% block page_content %}
    <br><br>

    <table border="1">
        <tr>
            <th>Document</th>
            <th>Revision</th>
            <th>Owner</th>
            <th>Link</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

    {% for document in all_documents %}
        <tr>
            <td>{{ document.name }}</td>
            <td>{{ document.revision }}</td>
            <td>{{ document.owner }}</td>

{#no cloudinary#}
{#            <td><a href="/media/{{ document.attachment }}">#}
{#                    "/media/{{ document.attachment }}"</a></td>#}

{#cloudinary#}
{#            <img src="{{ document.attachment.url }}" alt="image">#}
            <td><a href="{{ document.attachment.url }}">
                        {{ document.attachment.url }}</a></td>


            <td><a href="{% url 'edit document' pk=document.pk slug=document.slug %}">
                    Edit</a></td>
            <td><a href="{% url 'delete document' pk=document.pk slug=document.slug %}">
                    Delete</a></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
