{% extends 'core/base.html' %}

{% block page_title %}
    Document List
{% endblock %}

{#1. Nav----------------------------------------------------------------------#}

{#2. Header-------------------------------------------------------------------#}
    {% block page_name %}
        <header>
            <h1>
                Document List
            </h1>
        </header>
    {% endblock %}

{% block page_content %}
{#3. Buttons------------------------------------------------------------------#}
    <div class="container" id="con1">
        <button
                class="card"
                onclick="location.href='{% url 'dox mng index' %}';"
        >
            <h2>< Back</h2>
            <p>
                Go back to the document management menu
            </p>
        </button>

        <button class="card"></button>

        <button class="card"></button>
    </div>

{#4. Display------------------------------------------------------------------#}
    <div class="container" id="con2">
        <div class="card display">

    <form action="{% url 'document list' %}" method="post">

        <table class="table-form">
            {{ choice_form }}
        </table>

        {% csrf_token %}
        <button class="form_button">filter</button>
    </form>

        {% if all_objects %}

    <br><br>

    <table class="table-data">
    <thead>
        <tr>
            <th>Type</th>
            <th>Number</th>
            <th>Name</th>
            <th>Revision</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Link</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
            {% for document in all_objects %}
        <tr>
            <td>{{ document.type }}</td>
            <td>{{ document.number }}</td>
            <td>{{ document.name }}</td>
            <td>{{ document.revision }}</td>
            <td>{{ document.status }}</td>
            <td>{{ document.owner }}</td>

{#no cloudinary#}
{#            <td><a href="/media/{{ document.attachment }}">#}
{#                    "/media/{{ document.attachment }}"</a></td>#}

{#cloudinary#}
            {% if document.attachment.url %}
            <td><a href="{{ document.attachment.url }}">
                        Link</a></td>
            {% else %}
                <td>N/A</td>
            {% endif %}

            <td><a class="table-link" href="{% url 'edit document' pk=document.pk slug=document.slug %}"><i class="fa-solid fa-pen-to-square"></i>
                    Edit</a></td>
            <td><a class="table-link" href="{% url 'delete document' pk=document.pk slug=document.slug %}"><i class="fa-solid fa-trash"></i>
                    Delete</a></td>
        </tr>
    {% endfor %}

    </tbody>

    </table>

        {% endif %}

        </div>
    </div>

{% endblock %}
