{% extends 'core/base.html' %}

{% block page_title %}Edit document{% endblock %}
{% block page_name %}<h3 align="center">
    Module 2: Edit Document
</h3>{% endblock %}

{% block page_content %}
    <br><br>

    <form action="{% url 'edit document' pk=document.pk slug=document.slug %}" method="post" enctype="multipart/form-data">
        {{ form.as_div }}
        {% csrf_token %}
        <button>submit</button>
    </form>

    <div class="actionBtn">
         <a href="{% url 'document list' %}">
             go back</a>
    </div>

{% endblock %}
