{% extends 'core/base.html' %}

{% block page_title %}
    Show Document
{% endblock %}

{#1. Nav----------------------------------------------------------------------#}

{#2. Header-------------------------------------------------------------------#}
    {% block page_name %}
        <header>
            <h1>
                Show Document
            </h1>
        </header>
    {% endblock %}

{% block page_content %}
{#3. Buttons------------------------------------------------------------------#}
    <div class="container" id="con1">
        <button
                class="card"
{#                onclick="location.href='{% url 'document list' %}';"#}
                onClick="javascript:history.go(-1);"
        >
            <h2>< Back</h2>
            <p>
                Go back to the document list
            </p>
        </button>

        <button class="card"></button>

        <button class="card"></button>

        <button class="card"></button>
    </div>

{#4. Display------------------------------------------------------------------#}
    <div class="container" id="con2">
        <div class="card display">

    <table class="table-data">
    <thead>
        <tr>
            <th>Type</th>
            <th>Number</th>
            <th>Name</th>
            <th>Revision</th>
            <th>Status</th>
            <th>Owner</th>
            <th>Link</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ document.type }}</td>
            <td>{{ document.number }}</td>
            <td>{{ document.name }}</td>
            <td>{{ document.revision }}</td>
            <td>{{ document.status }}</td>
            <td>{{ document.owner }}</td>

{#no cloudinary#}
{#            <td><a href="/media/{{ document.attachment }}">#}
{#                    "/media/{{ document.attachment }}"</a></td>#}

{#cloudinary#}
            {% if document.attachment.url %}
            <td><a href="{{ document.attachment.url }}">
                        Link</a></td>
            {% else %}
                <td>N/A</td>
            {% endif %}

            <td><a class="table-link" href="{% url 'edit document' pk=document.pk slug=document.slug %}"><i class="fa-solid fa-pen-to-square"></i>
                    Edit</a></td>
            <td><a class="table-link" href="{% url 'delete document' pk=document.pk slug=document.slug %}"><i class="fa-solid fa-trash"></i>
                    Delete</a></td>
        </tr>

    </tbody>

    </table>

        </div>
    </div>

{% endblock %}
