{% extends 'core/base.html' %}
{% load i18n %}

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}Show Document{% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Show Document</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onClick="javascript:history.go(-1);">
                <span class="card-btn-title"><i class="fa-solid fa-angles-left"></i></span>
                <span class="card-btn-desc">Go back to the document list</span>
            </button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">{% trans "Show document" %}</h2>

                <div class="table-data-container">
                    <table class="table-data">
                    <thead>
                        <tr>
                            <th>{% trans "Type" %}</th>
                            <th>{% trans "Number" %}</th>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Revision" %}</th>
                            <th>{% trans "Status" %}</th>
                            <th>{% trans "Owner" %}</th>
                            <th>{% trans "Link" %}</th>
                            <th>{% trans "Edit" %}</th>
                            <th>{% trans "Delete" %}</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>{{ current_object.type }}</td>
                            <td>{{ current_object.number }}</td>
                            <td>{{ current_object.name }}</td>
                            <td>{{ current_object.revision }}</td>
                            <td>{{ current_object.status }}</td>
                            <td>
                                {% if current_object.owner %}
                                <a class="table-link" href="{% url 'show employee' pk=current_object.owner.pk slug=current_object.owner.slug %}">
                                        <i class="fa-solid fa-magnifying-glass"></i>{{ current_object.owner.get_full_name }}</a>
                                {% else %}
                                {% endif %}
                            </td>

                {#no cloudinary#}
                {#            <td><a href="/media/{{ document.attachment }}">#}
                {#                    "/media/{{ document.attachment }}"</a></td>#}

                {#cloudinary#}
                            {% if current_object.attachment.url %}
                                <td><a href="{{ current_object.attachment.url }}">
                                        {% trans "Link" %}</a></td>
                            {% else %}
                                <td>{% trans "N/A" %}</td>
                            {% endif %}

                            <td><a class="table-link" href="{% url 'edit document' pk=current_object.pk slug=current_object.slug %}"><i class="fa-solid fa-pen-to-square"></i>
                                    {% trans "Edit" %}</a></td>
                            <td><a class="table-link" href="{% url 'delete document' pk=current_object.pk slug=current_object.slug %}"><i class="fa-solid fa-trash"></i>
                                    {% trans "Delete" %}</a></td>
                        </tr>
                    </tbody>
                    </table>
                </div>

{#            <iframe src='https://view.officeapps.live.com/op/embed.aspx?src=https://res.cloudinary.com/hpnglbxlz/raw/upload/v1672922985/8266.docx' width='1366px' height='623px' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>#}
{#            <iframe src='https://view.officeapps.live.com/op/embed.aspx?src={{ current_object.attachment.url }}' width='1366px' height='623px' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>#}

            {% if is_file %}
                <iframe class="iframe-ms-office" src='https://view.officeapps.live.com/op/embed.aspx?src={{ current_object.attachment.url }}' width='1366px' height='623px' frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
            {% else %}
                <iframe class="iframe-pdf" src="{{ current_object.attachment.url }}"> </iframe>
            {% endif %}

            </div>
        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}
