{% extends 'core/base.html' %}

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}Add Employee{% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Add Employee</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onClick="javascript:history.go(-1);">
                <span class="card-btn-title">Back</span>
                <span class="card-btn-desc">Go back to the document list</span>
            </button>

            <button class="card-btn"></button>

            <button class="card-btn"></button>

            <button class="card-btn"></button>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">Add employee</h2>
                <form action="{% url 'add employee' %}" method="post">
                    <table class="table-form">
                        {{ form }}
                    </table>

                    {% csrf_token %}
                    <button class="form-button">add this employee</button>
                </form>
            </div>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}
