{% extends 'core/base.html' %}

{% block page_title %}
    Employee List
{% endblock %}

{#1. Nav----------------------------------------------------------------------#}

{#2. Header-------------------------------------------------------------------#}
    {% block page_name %}
        <header>
            <h1>
                Employee List
            </h1>
        </header>
    {% endblock %}

{% block page_content %}
{#3. Buttons------------------------------------------------------------------#}
    <div class="container" id="con1">
        <button
                class="card"
                onclick="location.href='{% url 'hr mng index' %}';"
        >
            <h2>< Back</h2>
            <p>
                Go back to the hr management menu
            </p>
        </button>

        <button class="card"></button>

        <button class="card"></button>
    </div>

{#4. Display------------------------------------------------------------------#}
    <div class="container" id="con2">
        <div class="card display">

    <p>Employees:</p>

    <form action="{% url 'employee list' %}" method="post">
        {{ choice_form }}
        {% csrf_token %}
        <button class="form_button">filter</button>
    </form>

        {% if all_objects %}

    <br><br>

{#    <table class="table-data">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>First Name</th>#}
{#                <th>Last Name</th>#}
{#                <th>ID</th>#}
{#                <th>Position</th>#}
{#                <th>Edit</th>#}
{#                <th>Delete</th>#}
{#            </tr>#}
{#        </thead>#}
{##}
{#        <tbody>#}
{#            {% for employee in all_objects %}#}
{#                <tr>#}
{#                    <td>{{ employee.first_name }}</td>#}
{#                    <td>{{ employee.last_name }}</td>#}
{#                    <td>{{ employee.identification }}</td>#}
{#                    <td>{{ employee.position }}</td>#}
{#                    <td><a class="table-link" href="{% url 'edit employee' pk=employee.pk slug=employee.slug %}"><i class="fa-solid fa-pen-to-square"></i>#}
{#                        Edit</a></td>#}
{#                    <td><a class="table-link" href="{% url 'delete employee' pk=employee.pk slug=employee.slug %}"><i class="fa-solid fa-trash"></i>#}
{#                        Delete</a></td>#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </tbody>#}
{##}
{#    </table>#}

    <table class="table-data">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Position</th>
                <th>Contract Nr</th>
                <th>Starting Date</th>
                <th>Trainings</th>

                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            {% for employee in all_objects %}
                <tr>
                    <td>{{ employee.get_full_name }}</td>
                    <td>{{ employee.position.name }}</td>
                    <td>{{ employee.contract_number }}</td>
                    <td>{{ employee.starting_date }}</td>
                    <td>{{ employee.get_related_trainings }}</td>

                    <td><a class="table-link" href="{% url 'edit employee' pk=employee.pk slug=employee.slug %}"><i class="fa-solid fa-pen-to-square"></i>
                        Edit</a></td>
                    <td><a class="table-link" href="{% url 'delete employee' pk=employee.pk slug=employee.slug %}"><i class="fa-solid fa-trash"></i>
                        Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

        {% endif %}

        </div>
    </div>

{% endblock %}
