{% extends 'core/base.html' %}

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}Employee List{% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Employee List</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onClick="javascript:history.go(-1);">
                <span class="card-btn-title">Back</span>
                <span class="card-btn-desc">Go back to the document list</span>
            </button>

            <button class="card-btn"></button>

            <button class="card-btn"></button>

            <button class="card-btn"></button>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">Employees:</h2>

                <form action="{% url 'employee list' %}" method="post">
                    {{ choice_form }}
                    {% csrf_token %}
                    <button class="form_button">filter</button>
                </form>

                {% if all_objects %}
                    <br><hr>
                    <div class="table-data-container">
                        <table class="table-data">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Position</th>
                                <th>Contract Nr</th>
                                <th>Starting Date</th>
                                <th>Trainings</th>

                                <th>Show</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for employee in all_objects %}
                                <tr>
                                    <td>{{ employee.get_full_name }}</td>
                                    <td>{{ employee.position.name }}</td>
                                    <td>{{ employee.contract_number }}</td>
                                    <td>{{ employee.starting_date }}</td>

                                    <td>
                                       {% for training in employee.get_related_trainings %}
                                           <a class="table-link" href="{% url 'show training' pk=training.training_id.pk slug=training.training_id.slug %}">
                                               <i class="fa-solid fa-magnifying-glass"></i>{{ training.training_id.name }}</a>
                                        {% endfor %}
                                    </td>

                                    <td><a class="table-link" href="{% url 'show employee' pk=employee.pk slug=employee.slug %}">
                                        <i class="fa-solid fa-magnifying-glass"></i>Show</a></td>
                                    <td><a class="table-link" href="{% url 'edit employee' pk=employee.pk slug=employee.slug %}"><i class="fa-solid fa-pen-to-square"></i>
                                        Edit</a></td>
                                    <td><a class="table-link" href="{% url 'delete employee' pk=employee.pk slug=employee.slug %}"><i class="fa-solid fa-trash"></i>
                                        Delete</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}
