{% extends 'core/base.html' %}
{% load i18n %}

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}Show Employee{% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Show Employee</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onClick="javascript:history.go(-1);">
                <span class="card-btn-title"><i class="fa-solid fa-angles-left"></i></span>
                <span class="card-btn-desc">Go back to the document list</span>
            </button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">{% trans "Show employee" %}</h2>

                <div class="table-data-container">
                    <table class="table-data">
                    <thead>
                        <tr>
                            <th>{% trans "Full Name" %}</th>
                            <th>{% trans "Position" %}</th>
                            <th>{% trans "Contract Nr" %}</th>
                            <th>{% trans "Starting Date" %}</th>
                            <th>{% trans "Trainings" %}</th>
                            <th>{% trans "Actions" %}</th>

                            <th>{% trans "Edit" %}</th>
                            <th>{% trans "Delete" %}</th>
                        </tr>
                    </thead>

                    <tbody>
                            <tr>
                                <td>{{ current_object.get_full_name }}</td>
                                <td>{{ current_object.position.name }}</td>
                                <td>{{ current_object.contract_number }}</td>
                                <td>{{ current_object.starting_date }}</td>
            {#                    <td>{{ employee.get_related_trainings }}</td>#}

                                <td>
                                   {% for training in current_object.get_related_trainings %}
                                       <a class="table-link" href="{% url 'show training' pk=training.training_id.pk slug=training.training_id.slug %}">
                                           <i class="fa-solid fa-magnifying-glass"></i>{{ training.training_id.name }}</a>
                                    {% endfor %}
                                </td>

                                <td>
                                    {% for action in current_object.responsible.all %}
                                        <a class="table-link"
                                           href="{% url 'show newaction' pk=action.pk slug=action.slug %}">
                                            {{ action.name }}</a><br>
                                    {% empty %}
                                    {% endfor %}
                                </td>

                                <td><a class="table-link" href="{% url 'edit employee' pk=current_object.pk slug=current_object.slug %}"><i class="fa-solid fa-pen-to-square"></i>
                                    {% trans "Edit" %}</a></td>
                                <td><a class="table-link" href="{% url 'delete employee' pk=current_object.pk slug=current_object.slug %}"><i class="fa-solid fa-trash"></i>
                                    {% trans "Delete" %}</a></td>
                            </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}
