{% extends 'core/base.html' %}

{% block page_title %}
    Training
{% endblock %}

{#1. Nav----------------------------------------------------------------------#}

{#2. Header-------------------------------------------------------------------#}
    {% block page_name %}
        <header>
            <h1>
                Training Management
            </h1>
        </header>
    {% endblock %}

{% block page_content %}
{#3. Buttons------------------------------------------------------------------#}
    <div class="container" id="con1">
{#        <button#}
{#                class="card"#}
{#                onclick="location.href='{% url 'hr mng index' %}';"#}
{#        >#}
{#            <h2>< Back</h2>#}
{#            <p>#}
{#                Go back to the hr management menu#}
{#            </p>#}
{#        </button>#}

        <button
                class="card"
                onClick="javascript:history.go(-1);"
        >
            <h2>< Back</h2>
            <p>
                Go back to the previous menu
            </p>
        </button>

        <button
                class="card"
                onclick="location.href='{% url 'add training' %}';"
        >
            <h2>Add Training</h2>
            <p>
                Add new trainings and define its properties
            </p>
        </button>

        <button
                class="card"
                onclick="location.href='{% url 'training list' %}';"
        >
            <h2>Trainings List</h2>
            <p>
                Display a list of all trainings. Edit or delete
            </p>
        </button>

        <button
                class="card"
                onclick="location.href='{% url 'training matrix' %}';"
        >
            <h2>Trainings Matrix</h2>
            <p>
                Generate a current training matrix
            </p>
        </button>
    </div>

{#4. Display------------------------------------------------------------------#}

{% endblock %}
