{% extends 'core/base.html' %}
{% load i18n %}

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}Training Matrix{% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Training Matrix</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onClick="javascript:history.go(-1);">
                <span class="card-btn-title"><i class="fa-solid fa-angles-left"></i></span>
                <span class="card-btn-desc">Go back to the document list</span>
            </button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">{% trans "Training Matrix" %}</h2>

                <div class="table-data-container">
                   <table class="table-data">
                      <thead>
                        <tr>
                          <th colspan="2">{% trans "Favorites" %}Employees</th>
                          <th colspan="{{ number_of_trainings }}">{% trans "Trainings" %}</th>
                        </tr>
                        <tr>
                          <th>{% trans "Name" %}</th>
                          <th>{% trans "Position" %}</th>
                            {% for training in all_objects %}
                                <th>{{ training.name }}</th>
                            {% endfor %}
                        </tr>
                      </thead>

                      <tbody>
                        {% for key, value in employees_w_their_trainings.items %}
                        <tr>
                          <td>
                             <a class="table-link" href="{% url 'show employee' pk=key.pk slug=key.slug %}">{{ key.get_full_name }}</a>
                          </td>

                          <td>
                              {{ key.position.name }}
                          </td>

                          {% for training in all_objects %}
                                <td>
                                    {% if training in value %}
                                        <i class="fas fa-check" style="color: limegreen"></i>
                                    {% else %}
                                        <i class="fas fa-times" style="color: red"></i>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}
