{% extends 'core/base.html' %}

{% block page_title %}Main Index{% endblock %}
{% block page_name %}<h3 align="center">
    ERP Main Page
</h3>{% endblock %}

{% block nav %}
    <nav>
        <li>
            <a href="{% url 'process mng index' %}">
                Module 1 Process Management
            </a>
        </li>
        <li>
            <a href="{% url 'dox mng index' %}">
                Module 2 Documented Information Management
            </a>
        </li>
        <li>
            <a href="{% url 'hr mng index' %}">
                Module 3 HR Management
            </a>
        </li>
    </nav>
{% endblock %}

{% block page_content %}
    <br>

    <br>
{% endblock %}
