{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Turtle diagram</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/turtle-style.css' %}">

<body>
    <header class="header">

    </header>
<main>
    <div class="turtle-container">

        <div class="vertical-1"></div>
        <div class="vertical-2"></div>
        <div class="horizontal-1"></div>
        <div class="horizontal-2"></div>
        <div class="horizontal-3"></div>
        <div class="horizontal-4"></div>
        <div class="horizontal-5"></div>
        <div class="horizontal-6"></div>

        <section class="turtle-section turtle-section-left">
        <div class="turtle-box turtle-box-1">
            <h2 class="turtle-box-title">Ресурси:</h2>
            <div class="table-data-container table-data-container-1">
                <table class="table-data">
                    <thead>
                        <tr>
                            <th>Име</th>
                            <th>Количество</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="turtle-box turtle-box-2">
            <h2 class="turtle-box-title">Входни елементи:</h2>
           <div class="table-data-container table-data-container-2">
                <table class="table-data">
                    <thead>
                        <tr>
                            <th>Име</th>
                            <th>Количество</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="turtle-box turtle-box-3">
            <h2 class="turtle-box-title">Рискове:</h2>
           <div class="table-data-container table-data-container-3">
                <table class="table-data">
                    <thead>
                        <tr>
                            <th>Име</th>
                            <th>Количество</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </section>

        <section class="turtle-section turtle-section-middle">
        <div class="turtle-box turtle-box-4">
            <i class="fa-solid fa-diagram-project"></i>
            <h2 class="turtle-box-title" id="main-title">Костенуркова диаграма</h2>
        </div>
        <div class="turtle-box turtle-box-5">
            <h2 class="turtle-box-title" id="process-title">{{ current_object.number }}.&nbsp{{ current_object.name }}</h2>
            <p class="turtle-box-text">
                Управлява: {{ current_object.process_owner.name_and_position }}
            </p>
        </div>
        <div class="turtle-box turtle-box-6">
            <h2 class="turtle-box-title">Стъпки:</h2>
           <div class="table-data-container table-data-container-6">
                <table class="table-data">
                    <thead>
                        <tr>
                            <th id="t-number">Nr</th>
                            <th id="t-name">Количество</th>
                        </tr>
                    </thead>
                    <tbody class="body-6">
                    {% for process_step in process_steps %}
                        <tr>
                            <td id="t-number">{{ process_step.number }}</td>
                            <td id="t-name">
                                <a class="table-link"
                                href="{% url 'show process step' pk=process_step.pk slug=process_step.slug %}">
                                {{ process_step.name }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </section>

        <section class="turtle-section turtle-section-right">
        <div class="turtle-box turtle-box-7">
            <h2 class="turtle-box-title">Показатели:</h2>
           <div class="table-data-container table-data-container-7">
                <table class="table-data">
                    <thead>
                        <tr>
                            <th>Име</th>
                            <th>Количество</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="turtle-box turtle-box-8">
            <h2 class="turtle-box-title">Изходни елементи:</h2>
           <div class="table-data-container table-data-container-8">
                <table class="table-data">
                    <thead>
                        <tr>
                            <th>Име</th>
                            <th>Количество</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="turtle-box turtle-box-9">
            <h2 class="turtle-box-title">Възможности за подобрение:</h2>
           <div class="table-data-container table-data-container-9">
                <table class="table-data">
                    <thead>
                        <tr>
                            <th>Име</th>
                            <th>Количество</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                        <tr>
                            <td>Име</td>
                            <td>Количество</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </section>
    </div>
</main>

</body>
</html>
