{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flowchart</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/flowchart-style.css' %}">

<body>
    <header class="header">

    </header>
<main>
    <div class="flowchart-container">
        <section class="flowchart-section flowchart-section-left">
            {% for process_step in process_steps %}
            <div class="flowchart-box flowchart-box-type-1">
                <h2 class="flowchart-box-title">{{ process_step.number }}.&nbsp{{ process_step.name }}</h2>
            </div>
            {% endfor %}
        </section>

        <section class="flowchart-section flowchart-section-right">
            {% for process_step in process_steps %}
            <div class="flowchart-box flowchart-box-type-2">

                <div class="table-data-container">
                <table class="table-data">
                    <thead>
                        <tr>
                            <th id="t-step">Описание на стъпката</th>
                            <th id="t-resp">Отговорник</th>
                            <th id="t-dox">Документи</th>
                        </tr>
                    </thead>
                    <tbody class="body-6">
                        <tr>
                            <td id="t-step">{{ process_step.description }}</td>
                            <td id="t-resp">{{ process_step.responsible }}</td>
                            <td id="t-dox">{{ process_step.documents }}</td>
                        </tr>
                    </tbody>
                </table>
                </div>

            </div>
            {% endfor %}
        </section>
    </div>
</main>

</body>
</html>
