{% extends 'core/base.html' %}

{% block page_title %}
    Edit Process Step
{% endblock %}

{#1. Nav----------------------------------------------------------------------#}

{#2. Header-------------------------------------------------------------------#}
    {% block page_name %}
        <header>
            <h1>
                Edit Process Step
            </h1>
        </header>
    {% endblock %}

{% block page_content %}
{#3. Buttons------------------------------------------------------------------#}
    <div class="container" id="con1">
        <button
                class="card"
                onclick="location.href='{% url 'process mng index' %}';"
        >
            <h2>< Back</h2>
            <p>
                Go back to the proces index
            </p>
        </button>

        <button class="card"></button>

        <button class="card"></button>

        <button class="card"></button>
    </div>

{#4. Display------------------------------------------------------------------#}
    <div class="container" id="con2">
        <div class="card display">

            <form action="{% url 'edit process step' pk=process_step.pk slug=process_step.slug %}" method="post" enctype="multipart/form-data">

                <table class="table-form">
                    {{ form }}
                </table>

                {% csrf_token %}
                <button class="form_button">submit</button>
            </form>

        </div>
    </div>

{% endblock %}
