{% extends 'core/base.html' %}

{% block page_title %}
    Process Management
{% endblock %}

{#1. Nav----------------------------------------------------------------------#}

{#2. Header-------------------------------------------------------------------#}
    {% block page_name %}
        <header>
            <h1>
                Process Management
            </h1>
        </header>
    {% endblock %}

{% block page_content %}
{#3. Buttons------------------------------------------------------------------#}
    <div class="container" id="con1">
        <button
                class="card"
                onclick="location.href='{% url 'index' %}';"
        >
            <h2>< Back</h2>
            <p>
                Go back to the main menu
            </p>
        </button>

        <button class="card"></button>

        <button class="card"></button>
    </div>

{#4. Display------------------------------------------------------------------#}
    <div class="container" id="con2">
        <div class="card">

    <form action="{% url 'process mng index' %}" method="post">
        1) Process Creation Form
        {{ process_form.as_div }}
        {% csrf_token %}
        <button class="form_button" name="button1">add this process</button>
    </form>

    <br><br>

    <form action="{% url 'process mng index' %}" method="post">
        2) Process Step Creation Form
        {{ process_step_form.as_div }}
        {% csrf_token %}
        <button class="form_button" name="button2">add this process step</button>
    </form>

    <br><br>

{#    {% if processes %}#}
{#        {% for process in processes %}#}
{#            {{ process }}#}
{#            <br>#}
{#        {% endfor %}#}
{#    {% else %}#}
{#        No processes added#}
{#    {% endif %}#}
{##}
{#    <br><br>#}
{##}
{#    {% if process_steps %}#}
{#        {% for process_step in process_steps %}#}
{#            {{ process_step }} <br>#}
{#            {{ process_step.get_related_documents }}#}
{#            <br>#}
{#        {% endfor %}#}
{#    {% else %}#}
{#        No process steps added#}
{#    {% endif %}#}


    {% if processes %}
        {% for process in processes %}
            {{ process }}
            <br>

            {% if process_steps %}
                {% for process_step in process_steps %}
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ process_step }}
                    <br>
                {% endfor %}
            {% else %}
                &nbsp;&nbsp;&nbsp;&nbsp;no process steps added
                <br>
            {% endif %}

        {% endfor %}
    {% else %}
        No processes added
    {% endif %}

        </div>
    </div>

{% endblock %}
