{% extends 'core/base.html' %}

{% block page_title %}
    Process Management
{% endblock %}

{#1. Nav----------------------------------------------------------------------#}

{#2. Header-------------------------------------------------------------------#}
    {% block page_name %}
        <header>
            <h1>
                Process Management
            </h1>
        </header>
    {% endblock %}

{% block page_content %}
{#3. Buttons------------------------------------------------------------------#}
    <div class="container" id="con1">
        <button
                class="card"
                onclick="location.href='{% url 'index' %}';"
        >
            <h2>< Back</h2>
            <p>
                Go back to the main menu
            </p>
        </button>

        <button class="card"></button>

        <button class="card"></button>
    </div>

{#4. Display------------------------------------------------------------------#}
    <div class="container" id="con2">
        <div class="card display">

    <form action="{% url 'process mng index' %}" method="post">
        <strong>1) Process Creation Form</strong>

        <table class="table-form">
             {{ process_form }}
        </table>

        {% csrf_token %}
        <button class="form_button" name="button1">add this process</button>
    </form>

    <br>
            <hr>
            <br>

    <form action="{% url 'process mng index' %}" method="post">
        <strong>2) Process Step Creation Form</strong>

        <table class="table-form">
             {{ process_step_form }}
        </table>

        {% csrf_token %}
        <button class="form_button" name="button2">add this process step</button>
    </form>

        <br>
            <hr>
            <br>

    <div>

         <table class="table-data">
      <thead>
        <tr>
          <th colspan="2">Process</th>
          <th colspan="6">Process Step</th>
        </tr>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Number</th>
          <th>Type</th>
          <th>Name</th>
          <th>Documents</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        {% for list_item in process_info %}
                {% for i in list_item %}
                <tr>

                <td>{{ i.parent_process.number }}</td>
                <td>{{ i.parent_process.name }}</td>
                <td>{{ i.number }}</td>
                <td>{{ i.type }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.get_related_documents }}</td>
                <td><a class="table-link" href="{% url 'edit process step' pk=i.pk slug=i.slug %}"><i class="fa-solid fa-pen-to-square"></i>
                    Edit</a></td>
                <td><a class="table-link" href="{% url 'delete process step' pk=i.pk slug=i.slug %}"><i class="fa-solid fa-trash"></i>
                    Delete</a></td>

                </tr>
                {% endfor %}

        {% endfor %}
      </tbody>

    </table>
    </div>

        </div>
    </div>

{% endblock %}
