{% extends 'core/base.html' %}

{% block page_title %}
    P30-01-001. BPIC
{% endblock %}

{#1. Nav----------------------------------------------------------------------#}

{#2. Header-------------------------------------------------------------------#}
    {% block page_name %}
        <header>
            <h1>
                P30-01-001. Business Processes Interaction Chart
            </h1>
        </header>
    {% endblock %}

{% block page_content %}
{#3. Buttons------------------------------------------------------------------#}
    <div class="container" id="con1">
        <button
                class="card"
                onClick="javascript:history.go(-1);"
        >
            <h2>< Back</h2>
            <p>
                Go back to the previous menu
            </p>
        </button>

        <button class="card"></button>

        <button class="card"></button>

        <button class="card"></button>
    </div>

{#4. Display------------------------------------------------------------------#}
    <div class="container" id="con2">
        <div class="card display">

            <div class="process-map-grid">

                {% for process in processes %}
                <div class="process-box">
                    <td><a class="table-link" href="{% url 'show process' pk=process.pk slug=process.slug %}">
                    {{ process.number }}. {{ process.name }}</a></td>

                    <br><br>

                    <td><a class="table-link" href="{% url 'create flowchart' pk=process.pk %}">
                    <i class="fa-sharp fa-solid fa-florin-sign"></i>Flowchart</a></td>
                    <br>
                    <td><a class="table-link" href="{% url 'create turtle' pk=process.pk %}">
                    <i class="fa-sharp fa-solid fa-pizza-slice"></i>Turtle</a></td>

                </div>
                {% endfor %}

            </div>


        </div>
    </div>

{% endblock %}
