{% extends 'core/base.html' %}

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}P30-01-001. BPIC{% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">P30-01-001. Business Processes Interaction Chart</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onClick="javascript:history.go(-1);">
                <span class="card-btn-title">Back</span>
                <span class="card-btn-desc">Go back to the document list</span>
            </button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">Process map</h2>

                {% for process_type in list_of_process_types %}
                    <div class="process-type-holder">
                        <h3 class="process-type-title">{{ process_type }}</h3>

                        <div class="process-box-holder">
                            {% for process in all_objects %}
                            {% if process.type == process_type %}

                                <div class="process-box">
                                    <div class="process-map-link-title-wrapper">
                                        <a class="process-map-link-title" href="{% url 'show process' pk=process.pk slug=process.slug %}">
                                        {{ process.number }}. {{ process.name }}</a>
                                    </div>

                                    <a class="process-map-link" href="{% url 'create flowchart' pk=process.pk %}">
                                    <i class="fa-solid fa-diagram-project"></i>Flowchart</a>

                                    <a class="process-map-link" href="{% url 'create turtle' pk=process.pk %}">
                                    <i class="fa-solid fa-diagram-project"></i>Turtle</a>
                                </div>

                            {% endif %}
                            {% endfor %}
                        </div>

                    </div>

                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}
