{% extends 'core/base.html' %}

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}Show Process{% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Show Process</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onClick="javascript:history.go(-1);">
                <span class="card-btn-title">Back</span>
                <span class="card-btn-desc">Go back to the document list</span>
            </button>

            <button class="card-btn"></button>

            <button class="card-btn"></button>

            <button class="card-btn"></button>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">Show process</h2>
                <div class="table-data-container">
                    <table class="table-data">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Number</th>
                            <th>Name</th>

                            <th>Owner</th>

                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ process.type }}</td>
                            <td>{{ process.number }}</td>
                            <td>{{ process.name }}</td>

                            <td><a class="table-link" href="{% url 'show employee' pk=process.process_owner.pk slug=process.process_owner.slug %}">
                                        <i class="fa-solid fa-magnifying-glass"></i>{{ process.process_owner.get_full_name }}</a></td>

                            <td><a class="table-link" href="{% url 'edit proces' pk=process.pk slug=process.slug %}"><i class="fa-solid fa-pen-to-square"></i>
                                    Edit</a></td>
                            <td><a class="table-link" href="{% url 'delete process' pk=process.pk slug=process.slug %}"><i class="fa-solid fa-trash"></i>
                                    Delete</a></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}
