h1 {
    text-decoration: underline;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Verdana, Helvetica, sans-serif;
    color: black;
    /*background-image: url('/static/images/back.jpg');*/
    background-image: url('/static/images/back.webp');
    background-size: cover;
}

table{
    border-color: lightskyblue;
}
