{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}Show KPI{% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Show KPI</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onClick="javascript:history.go(-1);">
                <span class="card-btn-title"><i class="fa-solid fa-angles-left"></i></span>
                <span class="card-btn-desc">Go back to the document list</span>
            </button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">{% trans "Show KPI" %}</h2>

                <div class="table-data-container">
                    <table class="table-data">
                    <thead>
                        <tr>
                            <th colspan="5">{% trans "General" %}</th>
                            <th colspan="12">{% trans "Performance 2023" %}</th>
                        </tr>

                        <tr>
                            <th>{% trans "KPI Name" %}</th>
                            <th>{% trans "Description" %}</th>
                            <th>{% trans "Target" %}</th>

                            <th>{% trans "Edit" %}</th>
                            <th>{% trans "Delete" %}</th>

                            <th>{% trans "Jan" %}</th>
                            <th>{% trans "Feb" %}</th>
                            <th>{% trans "Mar" %}</th>
                            <th>{% trans "Apr" %}</th>
                            <th>{% trans "May" %}</th>
                            <th>{% trans "Jun" %}</th>
                            <th>{% trans "Jul" %}</th>
                            <th>{% trans "Aug" %}</th>
                            <th>{% trans "Sep" %}</th>
                            <th>{% trans "Oct" %}</th>
                            <th>{% trans "Nov" %}</th>
                            <th>{% trans "Dec" %}</th>
                        </tr>
                    </thead>

                    <tbody>
                            <tr>
                                <td>{{ current_object.name }}</td>
                                <td>{{ current_object.description }}</td>
                                <td>{{ current_object.target }}</td>

                                <td><a class="table-link" href="{% url 'edit kpi' pk=current_object.pk slug=current_object.slug %}"><i class="fa-solid fa-pen-to-square"></i>{% trans "Edit" %}
                                </a></td>
                                <td><a class="table-link" href="{% url 'delete kpi' pk=current_object.pk slug=current_object.slug %}"><i class="fa-solid fa-trash"></i>{% trans "Delete" %}
                                </a></td>

                                <td>
                                    {% if current_object.actual_01_23 %}
                                        {{ current_object.actual_01_23 }}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if current_object.actual_02_23 %}
                                        {{ current_object.actual_02_23 }}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if current_object.actual_03_23 %}
                                        {{ current_object.actual_03_23 }}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if current_object.actual_04_23 %}
                                        {{ current_object.actual_04_23 }}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if current_object.actual_05_23 %}
                                        {{ current_object.actual_05_23 }}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if current_object.actual_06_23 %}
                                        {{ current_object.actual_06_23 }}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if current_object.actual_07_23 %}
                                        {{ current_object.actual_07_23 }}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if current_object.actual_08_23 %}
                                        {{ current_object.actual_08_23 }}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if current_object.actual_09_23 %}
                                        {{ current_object.actual_09_23 }}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if current_object.actual_10_23 %}
                                        {{ current_object.actual_10_23 }}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if current_object.actual_11_23 %}
                                        {{ current_object.actual_11_23 }}
                                    {% else %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if current_object.actual_12_23 %}
                                        {{ current_object.actual_12_23 }}
                                    {% else %}
                                    {% endif %}
                                </td>
                            </tr>
                    </tbody>
                </table>
                </div>

                {# canvas for the graph #}
                <div>
                    <canvas id="kpiChart"></canvas>
                </div>

            </div>
        </div>
    </section>

    {# script for the graph #}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('kpiChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {{ chart_data|safe }},
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: false  // This line hides the legend
                    }
                }
            }
        });
    </script>

{% endblock %}
{#-------------------------------------------------------------------------#}
