{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Org</title>

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/style_org.css' %}">
</head>

<body>
    <div class="total-container">
        <header class="header">
            <div class="top-ribbon-container">
                <div class="logo_nav-container">
                    <h2 class="logo">
                        <span class="red">S</span><span class="red">S</span><span class="black">C</span>
                    </h2>
                    <nav class="navigation">
                        <ul class="nav-item-list">
                            <li class="nav-item">
{#                                <h3 class="nav-item-text">#}
{#                                    + Създай организация#}
{#                                </h3>#}
                                <button class="nav-item-text">
                                    Създай организация
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="user-container">
                    <h2 class="user-name">
                        Атанас Атанасов
                    </h2>
                    <div class="user-letter-container">
                        <h2 class="user-letter">
                            A
                        </h2>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="main-screen">
                <h1 class="main-screen-title">
                    Създаване на нова организация
                </h1>
                <div class="form-container">
                    <div class="form-container-title-holder">
                        <h3 class="form-container-title">
                            Общи данни за организацията
                        </h3>
                    </div>
                    <div class="form-holder">
                        Form
                    </div>
                    <div class="button-holder">
                        <button class="save-button">Запази</button>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
</html>