{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orgs List</title>

    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/style_org.css' %}">
</head>

<body>
    <div class="total-container">
        <header class="header">
            <div class="top-ribbon-container">
                <div class="logo_nav-container">
                    <h2 class="logo">
                        <span class="red">S</span><span class="red">S</span><span class="black">C</span>
                    </h2>
                    <nav class="navigation">
                        <ul class="nav-item-list">
                            <li class="nav-item">
                                <button class="nav-item-text" onclick="location.href='{% url 'org mng index' %}';">
                                    Назад
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="user-container">
                    <h2 class="user-name">
                        Атанас Атанасов
                    </h2>
                    <div class="user-letter-container">
                        <h2 class="user-letter">
                            A
                        </h2>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="main-screen">
                <div id="main-container">
                    <h1 class="main-screen-title">
                        Създадени организации
                    </h1>
                    {% if all_organizations %}
                        <table class="new-table">
                            <thead>
                                <tr>
                                    <th>Наименование</th>
                                    <th>ЕИК</th>
                                    <th>МОЛ</th>
                                    <th>Адрес на управление</th>
                                    <th>Имена на ръководителя</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for org in all_organizations %}
                                <tr>
                                    <td>{{ org.name }}</td>
                                    <td>{{ org.eik }}</td>
                                    <td>{{ org.mol }}</td>
                                    <td>{{ org.address }}</td>
                                    <td>{{ org.manager_name }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        Няма организации
                    {% endif %}
                </div>
            </section>
        </main>
    </div>
</body>
</html>