{% extends 'core/base.html' %}
{% load i18n %}

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}Nonconformity List{% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Nonconformity List</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#4. Section1--------------------------------------------------------------#}
{% block card_buttons %}
    <section class="card-buttons-section">
        <div class="all-card-buttons-container">

            <button class="card-btn" onClick="javascript:history.go(-1);">
                <span class="card-btn-title"><i class="fa-solid fa-angles-left"></i></span>
                <span class="card-btn-desc">Go back to the document list</span>
            </button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

            <button class="card-btn card-btn-hidden"></button>

        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}

{#5. Section2--------------------------------------------------------------#}
{% block display_content %}
    <section class="display-content-section">
        <div class="all-display-content-container">

            <div class="card-display">
                <h2 class="card-display-title">{% trans "Nonconformities:" %}</h2>

                {% if all_objects %}
                    <div class="table-data-container">
                        <table class="table-data">
                        <thead>
                            <tr>
                                <th>{% trans "Customer" %}</th>
                                <th>{% trans "Customer Nr" %}</th>
                                <th>{% trans "Customer Date" %}</th>

                                <th>{% trans "Internal Nr" %}</th>
                                <th>{% trans "Start Date" %}</th>
                                <th>{% trans "Part Nr" %}</th>

                                <th>{% trans "Customer Definition" %}</th>
                                <th>{% trans "Internal Definition" %}</th>

                                <th>{% trans "BP Date" %}</th>

                                <th>{% trans "Actions" %}</th>
                                <th>{% trans ".xlsx" %}</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for nonconformity in all_objects %}
                                <tr>
                                    <td>
                                        {% if nonconformity.customer %}
                                            {{ nonconformity.customer }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if nonconformity.customer_claim_number %}
                                            {{ nonconformity.customer_claim_number }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if nonconformity.customer_claim_date %}
                                            {{ nonconformity.customer_claim_date }}
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if nonconformity.internal_claim_number %}
                                            {{ nonconformity.internal_claim_number }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if nonconformity.nonconformity_start_date %}
                                            {{ nonconformity.nonconformity_start_date }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if nonconformity.part_number %}
                                            {{ nonconformity.part_number }}
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if nonconformity.name %}
                                            {{ nonconformity.name }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if nonconformity.internal_definition %}
                                            {{ nonconformity.internal_definition }}
                                        {% endif %}
                                    </td>

                                    <td>
                                        {% if nonconformity.breakpoint_at_customer_date %}
                                            {{ nonconformity.breakpoint_at_customer_date }}
                                        {% endif %}
                                    </td>

                                    <td class="actions-td">
                                        <a class="table-link" href="{% url 'show nonconformity' pk=nonconformity.pk slug=nonconformity.slug %}">
                                            <i class="fa-solid fa-magnifying-glass"></i></a>
                                        <a class="table-link" href="{% url 'edit nonconformity' pk=nonconformity.pk slug=nonconformity.slug %}">
                                            <i class="fa-solid fa-pen-to-square"></i></a>
                                        <a class="table-link" href="{% url 'delete nonconformity' pk=nonconformity.pk slug=nonconformity.slug %}">
                                            <i class="fa-solid fa-trash"></i></a>
                                    </td>

                                    <td>
                                        <a class="table-link" href="{% url 'write to excel' pk=nonconformity.pk slug=nonconformity.slug %}">
                                            <i class="fa-solid fa-file-excel"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
{#-------------------------------------------------------------------------#}
